.search-box .searchbox{
	width: 1198px;
	margin: 0 auto;
	height: 58px;
	background: #fafafa;
	border: 1px solid #e6e6e6;
	border-radius: 2px;
	margin-top: 30px;
}
.search-box h3{

	margin: 0 auto;
	font-size: 30px;
	color: #1a1a1a;
	line-height: 46px;
	padding-top: 40px;
	border-bottom: 1px solid #f80;
}
.country{
	margin: 16px 30px 0;
	padding-bottom: 16px;
	width: 1140px;
	
}
.country dt{
	float: left;
	font-size: 16px;
	color: #4c4c4c;
	margin-top: 3px;
}

.country dd label{
	display:inline-block;
	margin-left: 20px;
	height: 30px;

	background: #fff;
	border-radius: 2px;
}
.country dd label a{
   line-height: 30px;
   font-size: 14px;
   padding: 7px 24px;
   color: #4c4c4c;
   background: #fafafa;
   border-radius: 2px;
}


.country dd .on a{
	color: #fff;
	background: #f80;
}
.search-box .same{
	margin-top: 27px;
	padding-bottom: 33px;
	border-bottom: 1px solid #ededed;
}
.search-box .same .detail {
	width: 800px;
	margin-left: 50px;
}
.search-box .same .detail .top h4{
	font-size: 30px;
	color: #1a1a1a;
	padding: 20px 0;
}
.search-box .same .detail .top h4 span{
	font-size: 20px;
	color: #666;
	padding-left: 10px;
}
.search-box .same .detail .top p{
	font-size: 12px;
	color: #666;
	font-family: '宋体';
	text-indent: 2em;
	width: 550px;
	line-height: 18px;
	padding-bottom: 30px;
}

.search-box .same .detail .bott{
	border-top: 1px dashed #ccc;
	padding-top: 25px;
}
.search-box .same .detail .bott li{
	font-size: 14px;
	color: #1a1a1a;
	font-family: '宋体';
	padding-bottom: 20px;
}
.search-box .same .detail .bott li span{
	font-family: Arial;
	font-size: 20px;
	color: #f80;
	font-weight: bold;
}
.search-box .same .detail .bott .shc span{
	font-family: '宋体';
	font-size: 14px;
	color: #4c4c4c;
	font-weight: normal;
	text-decoration:line-through;
}
.search-box .same .detail .bott li a{
	width: 28px;
	 font-size: 12px;
	height: 28px;
	border: 1px solid #4c4c4c;
	display: inline-block;
	text-align: center;
	line-height: 28px;
	color: #1a1a1a;
 
}
.search-box .same .detail .bott li .one{
	margin-left: 10px;
}
.search-box .detail .bott li.num span{
	width: 28px;
	height: 28px;
	border-top: 1px solid #4c4c4c;
	border-bottom: 1px solid #4c4c4c;
	border-left: none;
	border-right: none;
	color: #f80;
	font-size: 12px;
	line-height: 28px;
	padding-left: 20px;
	display: inline-block;

}
.search-box .same .detail .bott .ff li{
	position: relative;
	float: left;
	width: 180px;
	height: 40px;
	border-radius: 3px;
	background: #f80;
	line-height: 40px;
	padding-bottom: 0;
	color: #fff;
	font-family: '宋体';
	font-size: 14px;
	text-align: center;
	margin-left: 30px;
	margin-top: 48px;
	cursor: pointer;
}
.search-box .same .detail .bott .ff .now{
	width: 178px;
	height: 38px;
	border: 1px solid #f80;
	background: #fff;
	color: #f80;
}
.search-box .same .detail .bott .ff .down{

	background: #008aff;
}
.search-box .same .detail .bott .ff li span{
	position: absolute;
	display: inline-block;
	top: 11px;
	left: 18px;

}
.fen .fenye{
	margin-top:20px;
	margin-left: 540px;
	margin-bottom: 40px;

}
.fen .fenye li{
	float: left;
	margin-right: 20px;
}
.fen .fenye li a{
	font-size: 12px;
	font-family: "宋体";
	color: #4c4c4c;
	display: block;
	padding: 8px 12px;
	border: 1px solid #ccc;
}
.fen .fenye li .at{
	background: #f80;
	color: #fff;
}
.fen .fenye li a:hover{
	background: #f80;
	color: #fff;
}