{% extends 'base.html' %}
{% block title %}攻略文章|西柚留学网{% endblock %}
{% block css %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/gongl-gl.css' %}">
<script src="{% static 'js/common.js' %}"></script>
{% endblock %}
{% block js %}

{% endblock %}

{% block banner %}
    {% include 'banner.html' %}
{% endblock %}

{% block content %}
	<div class="wrap xiangqing clearfix">
	    
		<div class="fl left">
			<!-- <ul class="clearfix jack"> -->
				<!-- <li  class="on"><a href="gonglue-list.html">留学攻略</a></li> -->
				<!-- <li><a href="gonglue-list.html">留学论坛</a></li> -->
				<!-- <li><a href="gonglue-list.html">留学资讯</a></li> -->
				<!-- <li><a href="gonglue-list.html">留学问答</a></li> -->
				<!-- <li><a href="gonglue-list.html">成功案例</a></li> -->
			<!-- </ul> -->
		
			
			<div class="gl">
			<h3>{{ article.title }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span></span></h3>
			<h6>来源：西柚留学网&nbsp&nbsp&nbsp&nbsp&nbsp 时间：{{ article.add_time }}</h6>
			
				
			<div class="qk">
				<img src="{% static 'img/gl-tu1.png' %}" alt="">
				<p>{{ article.content }}</p>
			</div>
            
			</div>
	
	    </div>
		<div class="fr right">
			<div class="other">
				<h4>中国留学服务中心信息平台</h4>
				
	    		<ul>
	    			<li><a href=""><img src="{% static 'img/byrz.png' %}" alt=""></a></li>
	    			<li><a href=""><img src="{% static 'img/yxrz.png' %}" alt=""></a></li>
	    			<li><a href=""><img src="{% static 'img/jykh.png' %}" alt=""></a></li>
	    			<li><a href=""><img src="{% static 'img/lxda.png' %}" alt=""></a></li>
	    		</ul>	
			</div>
			<div class="tuijian">
				<h4>推荐院校</h4>
				<div class="sc-list cleafix">
	    			<div class="img-tu fl">
	    				<img src="{% static 'img/boshidun-logo.png' %}" alt="">
	    			</div>
	    			<div class="img-con fl">
	    					<p>波士顿学院</p>
	    					<p>Princeton University</p>
	    					<p>综合排名：38</p>
	    					<p>学历层次：硕士</p>
	    		   </div>
	    		</div>
	    		<div class="sc-list cleafix">
	    			<div class="img-tu fl">
	    				<img src="{% static 'img/boshidun-logo.png' %}" alt="">
	    			</div>
	    			<div class="img-con fl">
	    					<p>波士顿学院</p>
	    					<p>Princeton University</p>
	    					<p>综合排名：38</p>
	    					<p>学历层次：硕士</p>
	    		   </div>
	    		</div>
	    		<div class="sc-list cleafix">
	    			<div class="img-tu fl">
	    				<img src="{% static 'img/boshidun-logo.png' %}" alt="">
	    			</div>
	    			<div class="img-con fl">
	    					<p>波士顿学院</p>
	    					<p>Princeton University</p>
	    					<p>综合排名：38</p>
	    					<p>学历层次：硕士</p>
	    		   </div>
	    		</div>
	    		<div class="sc-list cleafix">
	    			<div class="img-tu fl">
	    				<img src="{% static 'img/boshidun-logo.png' %}" alt="">
	    			</div>
	    			<div class="img-con fl">
	    					<p>波士顿学院</p>
	    					<p>Princeton University</p>
	    					<p>综合排名：38</p>
	    					<p>学历层次：硕士</p>
	    		   </div>
	    		</div>
	    		
	    		
	    		
			</div>
		</div>

	</div>
{% endblock %}