{% extends 'base.html' %}
{% block title %}攻略文章|西柚留学网{% endblock %}
{% block css %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/gongl-gl.css' %}">
{% endblock %}
{% block js %}

{% endblock %}

{% block banner %}
    {% include 'banner.html' %}
{% endblock %}

{% block content %}
<script type="text/javascript">



			var wode = document.getElementById("wode");
			var wo = document.getElementById("wo");		
				wo.onmouseover=function(){
					wode.style.display = "block";
					wo.className="hi"
					wode.onmouseover=function(){
						wo.className="hi"
						this.style.display = "block";
					}
				}
				wo.onmouseout=function() {
					wode.style.display = "none";
					wo.className=""	
					wode.onmouseout=function(){
						this.style.display = "none";
						wo.className=""
					}
			     }

			var guanzhu = document.getElementById("guanzhu");
			var guan = document.getElementById("guan");		
				guan.onmouseover=function(){
					guanzhu.style.display = "block";
					guan.className="hi"
					guanzhu.onmouseover=function(){
						guan.className="hi"
						this.style.display = "block";
					}
				}
				guan.onmouseout=function() {
					guanzhu.style.display = "none";
					guan.className=""	
					guanzhu.onmouseout=function(){
						this.style.display = "none";
						guan.className=""
					}
			     }

			var kefu = document.getElementById("kefu");
			var ke = document.getElementById("ke");		
				ke.onmouseover=function(){
					kefu.style.display = "block";
					ke.className="hi"
					kefu.onmouseover=function(){
						ke.className="hi"
						this.style.display = "block";
					}
				}
				ke.onmouseout=function() {
					kefu.style.display = "none";
					ke.className=""	
					kefu.onmouseout=function(){
						this.style.display = "none";
						ke.className=""
					}
			     }

			var daohang = document.getElementById("daohang");
			var dao = document.getElementById("dao");		
				dao.onmouseover=function(){
					daohang.style.display = "block";
					dao.className="hi"
					daohang.onmouseover=function(){
						dao.className="hi"
						this.style.display = "block";
					}
				}
				dao.onmouseout=function() {
					daohang.style.display = "none";
					dao.className=""	
					daohang.onmouseout=function(){
						this.style.display = "none";
						dao.className=""
					}
			     }



			var ready = document.getElementById("ready");
			var readyy = document.getElementById("readyy");		
				readyy.onmouseover=function(){
					ready.style.display = "block";
					readyy.className="hi"
					ready.onmouseover=function(){
						readyy.className="hi"
						this.style.display = "block";
					}
				}
				readyy.onmouseout=function() {
					ready.style.display = "none";
					readyy.className=""	
					ready.onmouseout=function(){
						this.style.display = "none";
						readyy.className=""
					}
			     }


			var shopping = document.getElementById("shopping");
			var down = document.getElementById("shopping-down");		
				shopping.onclick=function(ev){
					var oEven=ev||event;
				  down.style.display = "block";
				  oEven.cancelBubble=true;
				
				}
				document.onclick=function(){
					down.style.display = "none";
				}



		$(function() {
			var bannerSlider = new Slider($('#banner_tabs'), {
				time: 3000,
				delay: 400,
				event: 'hover',
				auto: true,
				mode: 'fade',
				controller: $('#bannerCtrl'),
				activeControllerCls: 'active'
			});
			$('#banner_tabs .flex-prev').click(function() {
				bannerSlider.prev()
			});
			$('#banner_tabs .flex-next').click(function() {
				bannerSlider.next()
			});
		})
</script>


	<div class="wrap xiangqing clearfix">
	    
		<div class="fl left">
			<!-- <ul class="clearfix jack"> -->
				<!-- <li  class="on"><a href="gonglue-list.html">留学攻略</a></li> -->
				<!-- <li><a href="gonglue-list.html">留学论坛</a></li> -->
				<!-- <li><a href="gonglue-list.html">留学资讯</a></li> -->
				<!-- <li><a href="gonglue-list.html">留学问答</a></li> -->
				<!-- <li><a href="gonglue-list.html">成功案例</a></li> -->
			<!-- </ul> -->
		
			
			<div class="gl">
			<h3>{{ article.title }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span></span></h3>
			<h6>来源：西柚留学网&nbsp&nbsp&nbsp&nbsp&nbsp 时间：{{ article.add_time }}</h6>
			
				
			<div class="qk">
				<img src="{% static 'img/gl-tu1.png' %}" alt="">
				<p>{{ article.content }}</p>
			</div>
            
			</div>
	
	    </div>
		<div class="fr right">
			<div class="other">
				<h4>中国留学服务中心信息平台</h4>
				
	    		<ul>
	    			<li><a href=""><img src="{% static 'img/byrz.png' %}" alt=""></a></li>
	    			<li><a href=""><img src="{% static 'img/yxrz.png' %}" alt=""></a></li>
	    			<li><a href=""><img src="{% static 'img/jykh.png' %}" alt=""></a></li>
	    			<li><a href=""><img src="{% static 'img/lxda.png' %}" alt=""></a></li>
	    		</ul>	
			</div>
			<div class="tuijian">
				<h4>推荐院校</h4>
				<div class="sc-list cleafix">
	    			<div class="img-tu fl">
	    				<img src="{% static 'img/boshidun-logo.png' %}" alt="">
	    			</div>
	    			<div class="img-con fl">
	    					<p>波士顿学院</p>
	    					<p>Princeton University</p>
	    					<p>综合排名：38</p>
	    					<p>学历层次：硕士</p>
	    		   </div>
	    		</div>
	    		<div class="sc-list cleafix">
	    			<div class="img-tu fl">
	    				<img src="{% static 'img/boshidun-logo.png' %}" alt="">
	    			</div>
	    			<div class="img-con fl">
	    					<p>波士顿学院</p>
	    					<p>Princeton University</p>
	    					<p>综合排名：38</p>
	    					<p>学历层次：硕士</p>
	    		   </div>
	    		</div>
	    		<div class="sc-list cleafix">
	    			<div class="img-tu fl">
	    				<img src="{% static 'img/boshidun-logo.png' %}" alt="">
	    			</div>
	    			<div class="img-con fl">
	    					<p>波士顿学院</p>
	    					<p>Princeton University</p>
	    					<p>综合排名：38</p>
	    					<p>学历层次：硕士</p>
	    		   </div>
	    		</div>
	    		<div class="sc-list cleafix">
	    			<div class="img-tu fl">
	    				<img src="{% static 'img/boshidun-logo.png' %}" alt="">
	    			</div>
	    			<div class="img-con fl">
	    					<p>波士顿学院</p>
	    					<p>Princeton University</p>
	    					<p>综合排名：38</p>
	    					<p>学历层次：硕士</p>
	    		   </div>
	    		</div>
	    		
	    		
	    		
			</div>
		</div>

	</div>
{% endblock %}