<div id="banner_tabs" class="flexslider">
    <ul class="slides">
    {% for banner in banner_list %}
        <li>
            <a title="" target="_blank" href="#">
                <img width="1920" height="550" alt="" src="{{ MEDIA_URL }}{{ banner.image }}">
            </a>
        </li>
    {% endfor %}
    </ul>
    <ul class="flex-direction-nav">
        <li><a class="flex-prev" href="javascript:;">Previous</a></li>
        <li><a class="flex-next" href="javascript:;">Next</a></li>
    </ul>
    <ol id="bannerCtrl" class="flex-control-nav flex-control-paging">
        <li><a>1</a></li>
        <li><a>2</a></li>
        <li><a>2</a></li>
    </ol>
</div>