<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" >
	<title>{% block title %}{% endblock %}</title>
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'css/global.css' %}">
	<link rel="stylesheet" href="{% static 'css/public.css' %}">
	<link rel="stylesheet" href="{% static 'css/slider1.css' %}">
	<script src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
	<script src="{% static 'js/slider.js' %}"></script>
	{% block css %}{% endblock %}
</head>

<body>
	{% include 'header.html' %}
	{% block content %}{% endblock %}
	{% include 'footer.html' %}


	{% block js %}{% endblock %}
</body>
</html>