{% extends 'base.html' %}
{% block title %}文书服务|西柚留学网{% endblock %}
{% block css %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/wenshu.css' %}">
{% endblock %}
{% block js %}

{% endblock %}

{% block content %}
	
	<div id="banner_tabs" class="flexslider">
		<ul class="slides">
			<li>
				<a title="" target="_blank" href="#">
					<img width="1920" height="550" alt="" style="background: url(/static/img/banner-shuju.png) no-repeat center;" src="{% static 'img/alpha.png' %}">
				</a>
			</li>
			<li>
				<a title="" href="#">
					<img width="1920" height="550" alt="" style="background: url(/static/img/banner-shuju.png) no-repeat center;" src="{% static 'img/alpha.png' %}">
				</a>
			</li>
			<li>
				<a title="" href="#">
					<img width="1920" height="550" alt="" style="background: url(/static/img/banner-shuju.png) no-repeat center;" src="{% static 'img/alpha.png' %}">
				</a>
			</li>
		</ul>
		<ul class="flex-direction-nav">
			<li><a class="flex-prev" href="javascript:;">Previous</a></li>
			<li><a class="flex-next" href="javascript:;">Next</a></li>
		</ul>
		<ol id="bannerCtrl" class="flex-control-nav flex-control-paging">
			<li><a>1</a></li>
			<li><a>2</a></li>
			<li><a>2</a></li>
		</ol>

       
        
    </div>
<script type="text/javascript">



			var wode = document.getElementById("wode");
			var wo = document.getElementById("wo");		
				wo.onmouseover=function(){
					wode.style.display = "block";
					wo.className="hi"
					wode.onmouseover=function(){
						wo.className="hi"
						this.style.display = "block";
					}
				}
				wo.onmouseout=function() {
					wode.style.display = "none";
					wo.className=""	
					wode.onmouseout=function(){
						this.style.display = "none";
						wo.className=""
					}
			     }

			var guanzhu = document.getElementById("guanzhu");
			var guan = document.getElementById("guan");		
				guan.onmouseover=function(){
					guanzhu.style.display = "block";
					guan.className="hi"
					guanzhu.onmouseover=function(){
						guan.className="hi"
						this.style.display = "block";
					}
				}
				guan.onmouseout=function() {
					guanzhu.style.display = "none";
					guan.className=""	
					guanzhu.onmouseout=function(){
						this.style.display = "none";
						guan.className=""
					}
			     }

			var kefu = document.getElementById("kefu");
			var ke = document.getElementById("ke");		
				ke.onmouseover=function(){
					kefu.style.display = "block";
					ke.className="hi"
					kefu.onmouseover=function(){
						ke.className="hi"
						this.style.display = "block";
					}
				}
				ke.onmouseout=function() {
					kefu.style.display = "none";
					ke.className=""	
					kefu.onmouseout=function(){
						this.style.display = "none";
						ke.className=""
					}
			     }

			var daohang = document.getElementById("daohang");
			var dao = document.getElementById("dao");		
				dao.onmouseover=function(){
					daohang.style.display = "block";
					dao.className="hi"
					daohang.onmouseover=function(){
						dao.className="hi"
						this.style.display = "block";
					}
				}
				dao.onmouseout=function() {
					daohang.style.display = "none";
					dao.className=""	
					daohang.onmouseout=function(){
						this.style.display = "none";
						dao.className=""
					}
			     }



			var ready = document.getElementById("ready");
			var readyy = document.getElementById("readyy");		
				readyy.onmouseover=function(){
					ready.style.display = "block";
					readyy.className="hi"
					ready.onmouseover=function(){
						readyy.className="hi"
						this.style.display = "block";
					}
				}
				readyy.onmouseout=function() {
					ready.style.display = "none";
					readyy.className=""	
					ready.onmouseout=function(){
						this.style.display = "none";
						readyy.className=""
					}
			     }


			var shopping = document.getElementById("shopping");
			var down = document.getElementById("shopping-down");		
				shopping.onclick=function(ev){
					var oEven=ev||event;
				  down.style.display = "block";
				  oEven.cancelBubble=true;
				
				}
				document.onclick=function(){
					down.style.display = "none";
				}



		$(function() {
			var bannerSlider = new Slider($('#banner_tabs'), {
				time: 3000,
				delay: 400,
				event: 'hover',
				auto: true,
				mode: 'fade',
				controller: $('#bannerCtrl'),
				activeControllerCls: 'active'
			});
			$('#banner_tabs .flex-prev').click(function() {
				bannerSlider.prev()
			});
			$('#banner_tabs .flex-next').click(function() {
				bannerSlider.next()
			});
		})
</script>

    <div class="search-box wrap">
         <h3>文书购买</h3>
    	<div class="searchbox">
    	 <dl class="country" >
	      <dt>文书类型：</dt>
	      <dd>
	       <label {% ifequal type_id '' %}class="on"{% endifequal %}>
	        <a href="?type=">全部</a></label>
			
			{% for type in all_types %}
	       <label {% ifequal type_id type.id|stringformat:'i' %}class="on"{% endifequal %}>
	        <a href="?type={{ type.id }}">{{ type.name }}</a></label>
	       {% endfor %}

	      </dd>
	     </dl>
    	</div>
		{% for doc in all_docs %}
    	<div class="ps same clearfix">
    		<div class="img fl">
    			<a href="{% url 'service:doc-detail' doc.id %}"><img src="{{ MEDIA_URL }}{{ doc.image }}" alt=""></a>
    		</div>
    		<div class="fl detail">
    		  <div class="top">
    		  	<h4>{{ doc.name}}<span>{{ doc.english_name }}</span></h4>
    			<p>{{ doc.desc }}</p>
    		  </div>
    		  <div class="bott clearfix">
    		  	<ul class="fl">
    		  		<li>价格：<span>¥{{ doc.price }}</span></li>
    		  		<li class="shc">市场价：<span>¥{{ doc.price }}</span></li>
    		  		<li class="num">数量<a class="one">-</a><span>1</span><a>+</a></li>
    		  	</ul>
    		  	<ul class="fr ff clearfix">
    		  		<li class="car"><span><img src="{% static 'img/shoppingcar-1.png' %}"/></span>加入购物车</li>
    		  		<li class="now">立即购买</li>
    		  		<li class="down"><span><img src="{% static 'img/down.png' %}"/></span>个人信息表下载</li>
    		  	</ul>
    		  </div>
    		</div>
        </div>
		{% endfor %}

    </div>
    <div class="fen">
    	<ul class="fenye clearfix">
     			<li><a href="">上一页</a></li>
     			<li><a href="" class="at">1</a></li>
     			<li><a href="">下一页</a></li>
     	</ul>
    </div>
{% endblock %}