{% extends 'base.html' %}
{% block title %}文书服务|西柚留学网{% endblock %}
{% block css %}
{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'css/wenshu.css' %}">
	<script src="{% static 'js/layer.js' %}"></script>
{% endblock %}
{% block js %}
	<script src="{% static 'js/common.js' %}"></script>
{% endblock %}

{% block banner %}
    {% include 'banner.html' %}
{% endblock %}

{% block content %}
    <div class="search-box wrap">
         <h3>文书购买</h3>
    	<div class="searchbox">
    	 <dl class="country" >
	      <dt>文书类型：</dt>
	      <dd>
	       <label {% ifequal type_id '' %}class="on"{% endifequal %}>
	        <a href="?type=">全部</a></label>
			
			{% for type in all_types %}
	       <label {% ifequal type_id type.id|stringformat:'i' %}class="on"{% endifequal %}>
	        <a href="?type={{ type.id }}">{{ type.name }}</a></label>
	       {% endfor %}

	      </dd>
	     </dl>
    	</div>
		{% for doc in all_docs.object_list %}
    	<div class="ps same clearfix">
    		<div class="img fl">
    			<a href="{% url 'service:doc-detail' doc.id %}"><img src="{{ MEDIA_URL }}{{ doc.image }}" alt=""></a>
    		</div>
    		<div class="fl detail">
    		  <div class="top">
    		  	<h4>{{ doc.name}}<span>{{ doc.english_name }}</span></h4>
    			<p>{{ doc.desc }}</p>
    		  </div>
    		  <div class="bott clearfix">
    		  	<ul class="fl">
    		  		<li>价格：<span>¥{{ doc.price }}</span></li>
    		  		<li class="shc">市场价：<span>¥{{ doc.price|add:100 }}</span></li>
    		  		<li class="num">数量 :<a class="add">-</a><span id="number">1</span><a class="reduce">+</a></li>
    		  	</ul>
    		  	<ul class="fr ff clearfix">
    		  		<li class="car" doc="{{ doc.id }}"><span><img src="{% static 'img/shoppingcar-1.png' %}"/></span>加入购物车</li>
    		  		<li class="now">立即购买</li>
    		  		<li class="down"><span><img src="{% static 'img/down.png' %}"/></span>个人信息表下载</li>
    		  	</ul>
    		  </div>
    		</div>
        </div>
		{% endfor %}

    </div>
    <div class="fen">
    	<ul class="fenye clearfix">
     			 {% if all_docs.has_previous %}
                <li><a href="?{{ all_docs.previous_page_number.querystring }}">上一页</a></li>
                {% endif %}
                {% for page in all_docs.pages %}
                    {% if page %}
                        {% ifequal page all_docs.number %}
                        <li><a href="?{{ page.querystring }}" class="at">{{ page }}</a></li>
                        {% else %}
                        <li><a href="?{{ page.querystring }}">{{ page }}</a></li>
                        {% endifequal %}
                    {% else %}  
                        <li>...</li>
                    {% endif %}
                {% endfor %}
                {% if all_docs.has_next %}
                        <li><a href="?{{ all_docs.next_page_number.querystring }}">下一页</a></li>
                {% endif %}
     	</ul>
    </div>
	<script>

	</script>
    <script>
        $('.car').on('click', function () {
            var doc_id = $(this).attr('doc');

            $.ajax({
                cache: false,
                type: "POST",
                url:"{% url 'service:doc' %}",
                data:{'doc_id':doc_id, 'store_type':1},
                async: true,
                beforeSend:function(xhr, settings){
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                success: function(data) {
                    if(data.status == 'fail'){
                        layer.open({
                          title: '西柚留学网提示'
                          ,content: '加入购物车失败，请稍后再试！'
                        });
                    }else if(data.status == 'success'){
                        layer.open({
                          title: '西柚留学网提示'
                          ,content: '成功加入购物车！'
                        });
                    }
                },
            });
        })

    </script>
{% endblock %}