{% extends 'base.html' %}
{% block title %}留学评估|西柚留学网{% endblock %}
{% block css %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/pinggu.css' %}">
{% endblock %}
{% block js %}
<script src="{% static 'js/common.js' %}"></script>
{% endblock %}

{% block banner %}
    {% include 'banner.html' %}
{% endblock %}
{% block content %}

    <div class="system">
    	<div class="wrap">
    		<h1>免费录取率评估系统</h1>
    		<hr>
    		<h6>温馨提示:</h6>
    		<p>1、您提供的信息将提交系统进行自动录取率评估，返回结果仅供参考。<br>2、我们会对您的资料进行保密。<br>3、为能准确评估，带有"<span>*</span>"标志的为必填项。<br>4、您填写的信息越充分，我们为您提供的评估越精准。</p>
    		<div class="b-box">
    			<form action="{% url 'university:result' %}" method="post">
				{% csrf_token %}
    				<div class="yixiang">
    					<h3>留学意向</h3>
    					<ul class="clearfix">
    						<li><span>*</span>意向留学国家：
							{% for country in all_country %}
								<input type="radio" name="yx" value="n" />{{ country.name }}
							{% endfor %}
    						</li>
    						<li class="top"><span>*</span>意向留学阶段：
								<input type="radio" name="jd" value="n" />预科
								<input type="radio" name="jd" value="n" />本科
								<input type="radio" name="jd" value="n" />硕士
    						</li>

    						<li><span>*</span>意向留学时间：
    						<select>
						        <option>选择时间</option>
						        <option>n</option>
						        <option>n</option>
						    </select>
						    </li>
    						<li class="top"><span>*</span>意向专业方向：
    						<select>
						        <option>选择专业</option>
						        <option>n</option>
						        <option>n</option>
						    </select>
						    </li>
    					</ul>
    				</div>
    				<div class="xinxi">
    					<h3>个人信息</h3>
    					<ul class="clearfix">
    						<li class="top"><span>*</span>真实姓名：<input type="text"  />
    						</li>
    						<li class="top-1"><span>*</span>联系方式：<input type="text"  />
                             </li>
    						<li class="bot"><span></span>QQ号码：<input type="text"  />
    						</li>
    						<li class="bot-1"><span></span>电子邮箱：<input type="text"  />
                             </li>
    					</ul>
    				</div>
    				<div class="beijing">
    					<h3>教育背景</h3>
    					<ul class="clearfix">
    						<li class="top"><span>*</span>当前学历：<input type="text"  />
    						</li>
    						<li class="top"><span></span>当前专业：<input type="text"  />
    						</li>
    						<li class="bott"><span>*</span>毕业院校类型：<input type="radio" name="lx" value="n" />预科<input type="radio" name="lx" value="n" />本科<input type="radio" name="lx" value="n" />硕士
    						</li>
    					</ul>
    				</div>
    				<div class="chengji">
    					<h3>考试成绩</h3>
    					<ul class="clearfix">
    					    <li class="bott">语言类型考试：<input type="radio" name="ks" value="n" />托福<input type="radio" name="ks" value="n" />雅思 <span class="span"><i>备注：</i>其他考试请换算成雅思或托福成绩</span>
    						<li class="top"><span></span>考试成绩：<input type="text"  />
    						</li>
    						<li class="bott gpa-2"><span>*</span>GPA（平均分）：<input type="radio" name="gpa" value="n" />四分制<input type="radio" name="gpa" value="n" />其他 
    						<li class="top gpa-1"><span>*</span>GPA考试成绩：<input type="text"  />
    						</li>
    						<li class="bott qita"><span></span>其他考试类型：<input type="radio" name="qt" value="n" />SAT<input type="radio" name="qt" value="n" />AP 
    						<input type="radio" name="qt" value="n" />ALEVEL<input type="radio" name="qt" value="n" />WACE 
    						<input type="radio" name="qt" value="n" />GRE<input type="radio" name="qt" value="n" />GMAT 
    						<li class="top"><span></span>考试成绩：<input type="text"  />
    						</li>
    						
    					</ul>
    				</div>
                    <div class="tijiao">
                    	<ul class="clearfix">
                    		<li class="yan fl"><span>*</span>验证码：<input type="text" /></li>
                    		<li class="img fl"><img src="{% static 'img/yanzheng.png' %}" alt=""></li>
                    	</ul>
                    	<div>
                    		<input class="ction" type="submit" value="免费评估">
                    	    <input type="submit" value="重置">
                    	</div>
                    	
                    </div>
    			</form>
    		</div>
    	</div>
    </div>
{% endblock %}
