{% load staticfiles %}
<div class="foot">
	<div class="wrap clearfix">
		<div class="foot-logo fl"> 
			<img src="{% static 'img/logo-foot.png' %}" alt="">
		</div>
		<div class="line fl">
			<img src="{% static 'img/line-foot.png' %}" alt="">
		</div>
		<div class="foot-con fl">
			<p>24小时服务热线：<span>010-88888888</span></p>
			<ul class="fenxiang clearfix">
				<li>好友分享：</li>
				<li><a href=""><img src="{% static 'img/weixin.png' %}" alt=""></a></li>
				<li><a href=""><img src="{% static 'img/weibo.png' %}" alt=""></a></li>
				<li><a href=""><img src="{% static 'img/douban.png' %}" alt=""></a></li>
				<li><a href=""><img src="{% static 'img/renren.png' %}" alt=""></a></li>
			</ul>
		</div>
	</div>
	<div class="about">
		   <ul class="clearfix">
			<li><a href="{% url 'operation:about' %}">关于我们</a></li>
			<li><a href="">友情链接</a></li>
			<li><a href="">意见反馈</a></li>
			<li><a href="">商务合作</a></li>
			<li><a href="">联系我们</a></li>
		  </ul>	
		  <p> Copyright ? 2016 西柚留学网 All rights reserved.</p>
	</div>
</div>