{% load staticfiles %}
<div class="top-header">
	<div class="wrap clearfix">
		<p class="top-header-l">欢迎来到西柚留学网！咨询热线：<span>010-88888888</span></p>
		<ul class="top-header-r">


			{% if request.user.is_authenticated %}
				<li class="deng">您好，</li>
				 <li class="deng"><a href="{% url 'user:logout' %}">注销</a></li>
				<li id="wo"><a href="{% url 'user:usercenter' %}">|&nbsp{{ request.user.username }}</a></li>
			{% else %}
				<li class="deng">您好，请<a href="{% url 'user:login' %}">登录</a></li>
				<li class="deng">免费<a href="{% url 'user:register' %}">注册</a></li>
			{% endif %}
				<li id="guan"><a href="">|&nbsp关注西柚</a></li>
				<li id="ke"><a href="">|&nbsp客户服务</a></li>
				<li id="dao"><a href="">|&nbsp网站导航</a></li>

		</ul>
		<div id="wode" class="wode">
			<ul>
				<li><a href="{% url 'user:myorder' %}">我的订单</a></li>
				<li><a href="{% url 'user:usercenter' %}">账号管理</a></li>				
				<li><a href="{% url 'user:myask' %}">我的问答</a></li>
			</ul>
		</div>
		<div id="guanzhu" class="guanzhu">
			<img src="{% static 'img/weitu.png' %}" alt="">
		</div>
		<div id="kefu" class="kefu">
			<ul>
				<li><a href="{% url 'operation:about' %}">公司简介</a></li>
				<li><a href="{% url 'operation:about' %}">帮助中心</a></li>
				<li><a href="{% url 'operation:about' %}">联系我们</a></li>				
			</ul>
		</div>
		<div id="daohang" class="daohang clearfix">
			<ul class="school">
				<li><a href="">美国院校</a></li>
				<li><a href="">英国院校</a></li>
				<li><a href="">加拿大院校</a></li>
				<li><a href="">澳洲院校</a></li>
			</ul>
			<ul class="news">
				<li><a href="">留学资讯</a></li>
				<li><a href="">院校数据</a></li>
				<li><a href="">院校排行</a></li>
			</ul>
			<ul class="server">
				<li><a href="">特色服务</a></li>
				<li><a href="">文书服务</a></li>
				<li><a href="">签证服务</a></li>
				<li><a href="">行程服务</a></li>
			</ul>
		</div>
	</div>
</div>


<div class="search">
	<div class="wrap clearfix">
		<div class="logo-top">
			<img width="230px" height="120px" src="{% static 'img/logo.jpg' %}" alt="">
		</div>
		<div class="search-box clearfix">
			<input type="text" value="请输入院校名称"><img src="{% static 'img/fangda.png' %}" alt="">
			<button>搜索</button>
		</div>
		<div id="shopping" class="shopping clearfix">
			<img src="{% static 'img/shopping-car.png' %}" alt="">
			<p>我的购物车</p>
			<span>0</span>
			<img class="new" src="{% static 'img/new.png' %}" alt="">
		</div>
		<div id="shopping-down" class="shopping-down">
			<p>最近加入的产品：</p>
			<p class="chan clearfix"><img class="fl" src="{% static 'img/alogo.png' %}" alt=""><a href="">美国威廉玛丽学院留学申请<br>
			￥：<span>36000</span>美元/年
			</a>
			</p>
			<div class="sh-foot">
				<ul class="clearfix">
					<li class="fl">共1件商品</li>
					<li class="fr"><a href="gouwuche/gouwuche.html">查看购物车</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>


<div class="nav-bar">
	<div class="wrap">
		<ul class="clearfix">
			<li {% if request.path ==  '/' %}class="contion"{% endif %}><a target="_self" href="{% url 'user:index' %}">首页</a></li>
			<li {% if request.path|slice:'7' ==  '/univer' %}class="contion"{% endif %}><a href="{% url 'university:university' %}">院校数据</a></li>
			<li {% if request.path|slice:'7' ==  '/estima' %}class="contion"{% endif %}><a href="{% url 'university:estimate' %}">留学评估</a></li>
			<li {% if request.path|slice:'7' ==  '/highap' %}class="contion"{% endif %}><a href="{% url 'user:highapply' %}">高端申请</a></li>
			<li {% if request.path|slice:'4' ==  '/doc' %}class="contion"{% endif %}><a href="{% url 'service:doc' %}">文书服务</a></li>
			<li {% if request.path|slice:'5' ==  '/visa' %}class="contion"{% endif %}><a href="{% url 'service:visa' %}">签证服务</a></li>
			<li id="readyy" class="readyy"><a href="xingcheng.html">行程准备<span><img src="{% static 'img/jiantou.png' %}" alt=""></span></a></li>
			<li {% if request.path|slice:'7' ==  '/strate' %}class="contion"{% endif %}><a href="{% url 'university:strategy' %}">留学攻略</a></li>
		</ul>
		<div id="ready" class="ready">
			<ul>
				<li><a href="">机票预订</a></li>
				<li><a href="">接机服务</a></li>
				<li><a href="">机票预订</a></li>
			</ul>
		</div>
	</div>
</div>