{% extends 'base.html' %}
{% block title %}高端申请|西柚留学网{% endblock %}
{% block css %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/sq.css' %}">
<script src="{% static 'js/layer.js' %}"></script>
{% endblock %}
{% block js %}

{% endblock %}

{% block banner %}
    {% include 'banner.html' %}
{% endblock %}

{% block content %}
<script type="text/javascript">



			var wode = document.getElementById("wode");
			var wo = document.getElementById("wo");		
				wo.onmouseover=function(){
					wode.style.display = "block";
					wo.className="hi"
					wode.onmouseover=function(){
						wo.className="hi"
						this.style.display = "block";
					}
				}
				wo.onmouseout=function() {
					wode.style.display = "none";
					wo.className=""	
					wode.onmouseout=function(){
						this.style.display = "none";
						wo.className=""
					}
			     }

			var guanzhu = document.getElementById("guanzhu");
			var guan = document.getElementById("guan");		
				guan.onmouseover=function(){
					guanzhu.style.display = "block";
					guan.className="hi"
					guanzhu.onmouseover=function(){
						guan.className="hi"
						this.style.display = "block";
					}
				}
				guan.onmouseout=function() {
					guanzhu.style.display = "none";
					guan.className=""	
					guanzhu.onmouseout=function(){
						this.style.display = "none";
						guan.className=""
					}
			     }

			var kefu = document.getElementById("kefu");
			var ke = document.getElementById("ke");		
				ke.onmouseover=function(){
					kefu.style.display = "block";
					ke.className="hi"
					kefu.onmouseover=function(){
						ke.className="hi"
						this.style.display = "block";
					}
				}
				ke.onmouseout=function() {
					kefu.style.display = "none";
					ke.className=""	
					kefu.onmouseout=function(){
						this.style.display = "none";
						ke.className=""
					}
			     }

			var daohang = document.getElementById("daohang");
			var dao = document.getElementById("dao");		
				dao.onmouseover=function(){
					daohang.style.display = "block";
					dao.className="hi"
					daohang.onmouseover=function(){
						dao.className="hi"
						this.style.display = "block";
					}
				}
				dao.onmouseout=function() {
					daohang.style.display = "none";
					dao.className=""	
					daohang.onmouseout=function(){
						this.style.display = "none";
						dao.className=""
					}
			     }



			var ready = document.getElementById("ready");
			var readyy = document.getElementById("readyy");		
				readyy.onmouseover=function(){
					ready.style.display = "block";
					readyy.className="hi"
					ready.onmouseover=function(){
						readyy.className="hi"
						this.style.display = "block";
					}
				}
				readyy.onmouseout=function() {
					ready.style.display = "none";
					readyy.className=""	
					ready.onmouseout=function(){
						this.style.display = "none";
						readyy.className=""
					}
			     }


			var shopping = document.getElementById("shopping");
			var down = document.getElementById("shopping-down");		
				shopping.onclick=function(ev){
					var oEven=ev||event;
				  down.style.display = "block";
				  oEven.cancelBubble=true;
				
				}
				document.onclick=function(){
					down.style.display = "none";
				}



		$(function() {
			var bannerSlider = new Slider($('#banner_tabs'), {
				time: 3000,
				delay: 400,
				event: 'hover',
				auto: true,
				mode: 'fade',
				controller: $('#bannerCtrl'),
				activeControllerCls: 'active'
			});
			$('#banner_tabs .flex-prev').click(function() {
				bannerSlider.prev()
			});
			$('#banner_tabs .flex-next').click(function() {
				bannerSlider.next()
			});
		})
</script>

    <div class="wrap sq">
     	<h2>高端申请流程</h2>
     	<p>我们专门提供美国前<span>100</span>名，英国前<span>30</span>名，加拿大前<span>10</span>名，澳洲前<span>8</span><br>名本科、硕士、博士申请，私人定制，一对一服务！</p>
     	<div class="lc">
     		<ul class="clearfix">
     			<li><span>1</span>
     			<h4>确定选校</h4></li>
     			<li><span>3</span>
     			<h4>提交申请</h4></li>
     			<li><span>5</span>
     			<h4>签证服务</h4></li>
     			<li><span>7</span>
     			<h4>预订机票</h4></li>
     			<li><span>9</span>
     			<h4>入住宿舍</h4></li>
     			
     		</ul>
     		<ul class="clearfix ou">
     			<li><span>2</span>
     			<h4>确定选校</h4></li>
     			<li><span>4</span>
     			<h4>提交申请</h4></li>
     			<li><span>6</span>
     			<h4>签证服务</h4></li>
     			<li><span>8</span>
     			<h4>预订机票</h4></li>
     			<li class="ten"><span>10</span>
     			<h4>入住宿舍</h4></li>
     			
     		</ul>
     	</div>
     	<h2>高端申请系统</h2>
     	<div class="xt">
     		<form action="" method="post">
			{% csrf_token %}
     			<ul>
     				<li class="name"><span>姓名：</span><input type="text" name="realname" placeholder="请输入姓名..."></li>
     				<li><span>意向国家：</span><input type="text" name="country" placeholder="例：美国，英国"></li>
     				<li><span>意向层次：</span><input type="text" name="type" placeholder="例：研究生，本科"></li>
     				<li><span>意向专业：</span><input type="text" name="major" placeholder="例：机械，美术"></li>
     			</ul>
     			<button class="car">提交</button>

     		</form>
     	</div>
    </div>
    <script>
        $('.car').on('click', function () {

            var real_name = $('input[name="realname"]').val();
            var country = $('input[name="country"]').val();
            var type = $('input[name="type"]').val();
            var major = $('input[name="major"]').val();
            $.ajax({
                cache: false,
                type: "POST",
                url:"{% url 'user:highapply' %}",
                data:{'real_name':real_name, 'country':country, 'type':type, 'major':major},
                async: true,
                beforeSend:function(xhr, settings){
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                success: function(data) {
                    if(data.status == 'fail'){
                        layer.open({
                          title: '西柚留学网提示'
                          ,content: '申请失败，请稍后再试！'
                        });
                    }else if(data.status == 'success'){
                        layer.open({
                          title: '西柚留学网提示'
                          ,content: '申请成功，稍后工作人员会与您联系！'
                        });
                    }
                },
            });

            return false;

        })

    </script>
{% endblock %}
