{% extends 'base.html' %}
{% block title %}高端申请|西柚留学网{% endblock %}
{% block css %}
{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'css/sq.css' %}">
	<script src="{% static 'js/layer.js' %}"></script>
{% endblock %}
{% block js %}
	<script src="{% static 'js/common.js' %}"></script>
	<script src="{% static 'js/validate.js' %}"></script>
{% endblock %}

{% block banner %}
    {% include 'banner.html' %}
{% endblock %}

{% block content %}

    <div class="wrap sq">
     	<h2>高端申请流程</h2>
     	<p>我们专门提供美国前<span>100</span>名，英国前<span>30</span>名，加拿大前<span>10</span>名，澳洲前<span>8</span><br>名本科、硕士、博士申请，私人定制，一对一服务！</p>
     	<div class="lc">
     		<ul class="clearfix">
     			<li><span>1</span>
     			<h4>确定选校</h4></li>
     			<li><span>3</span>
     			<h4>提交申请</h4></li>
     			<li><span>5</span>
     			<h4>签证服务</h4></li>
     			<li><span>7</span>
     			<h4>预订机票</h4></li>
     			<li><span>9</span>
     			<h4>入住宿舍</h4></li>
     			
     		</ul>
     		<ul class="clearfix ou">
     			<li><span>2</span>
     			<h4>确定选校</h4></li>
     			<li><span>4</span>
     			<h4>提交申请</h4></li>
     			<li><span>6</span>
     			<h4>签证服务</h4></li>
     			<li><span>8</span>
     			<h4>预订机票</h4></li>
     			<li class="ten"><span>10</span>
     			<h4>入住宿舍</h4></li>
     			
     		</ul>
     	</div>
     	<h2>高端申请系统</h2>
     	<div class="xt">
     		<form action="" method="post">
			{% csrf_token %}
     			<ul>
     				<li class="name"><span>姓名：</span><input type="text" name="realname" placeholder="请输入姓名..."></li>
     				<li><span>意向国家：</span><input type="text" name="country" placeholder="例：美国，英国"></li>
     				<li><span>意向层次：</span><input type="text" name="type" placeholder="例：研究生，本科"></li>
     				<li><span>意向专业：</span><input type="text" name="major" placeholder="例：机械，美术"></li>
     			</ul>
     			<button class="car">提交</button>

     		</form>
     	</div>
    </div>
{% endblock %}
