{% extends 'base.html' %}
{% block title %}首页|西柚留学网{% endblock %}
{% block css %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<link rel="stylesheet" href="{% static 'css/slider.css' %}">
{% endblock %}
{% block js %}
<script src="{% static 'js/ScrollPicLeft.js' %}"></script>
{% endblock %}
{% block content %}
	<div id="banner_tabs" class="flexslider">
		<ul class="slides">
		{% for banner in banner_list%}
			<li>
				<a title="" target="_blank" href="#">
					<img width="1920" height="550" alt=""  src="{{ MEDIA_URL }}{{ banner.image }}">
				</a>
			</li>
		{% endfor %}
		</ul>
		<ul class="flex-direction-nav">
			<li><a class="flex-prev" href="javascript:;">Previous</a></li>
			<li><a class="flex-next" href="javascript:;">Next</a></li>
		</ul>
		<ol id="bannerCtrl" class="flex-control-nav flex-control-paging">
			<li><a>1</a></li>
			<li><a>2</a></li>
			<li><a>2</a></li>
		</ol>

       
        	<!-- <div id="ass" class="ass"> -->
				<!-- <p>免费留学评估</p> -->
				<!-- <form action=""> -->
					<!-- <input type="text" value="学员姓名"> -->
					<!-- <input type="text" value="手机号"> -->
					<!-- <br> -->
					<!-- <select class="" id="" name=""> -->
	                     <!-- <option value="">留学阶段</option> -->
	                     <!-- <option value="北京市">北京市</option> -->
	                     <!-- <option value="天津市">天津市</option> -->
	                 <!-- </select> -->
	                 <!-- <br> -->
	                 <!-- <select class="" id="" name=""> -->
	                     <!-- <option value="">意向国家</option> -->
	                     <!-- <option value="北京市">北京市</option> -->
	                     <!-- <option value="天津市">天津市</option> -->
	                 <!-- </select> -->
	                 <!-- <br> -->
	                 <!-- <select class="" id="" name=""> -->
	                     <!-- <option value="">留学时间</option> -->
	                     <!-- <option value="北京市">北京市</option> -->
	                     <!-- <option value="天津市">天津市</option> -->
	                 <!-- </select> -->
	                 <!-- <input class="btn" type="button" value="立即评估"> -->
                 <!-- </form> -->
                <!-- <div id="colse" class="colse"><img src="{% static 'img/close.png' %}" alt=""> -->
                <!-- </div> -->
		    <!-- </div> -->
    </div>
<script type="text/javascript">
	window.onload=function(){
		var timer=0;
		var oDaq=document.getElementById('ass');
		var oBt=document.getElementById('colse');
		timer= setInterval(function(){
		 	oDaq.style.display='block';
		 },5000);
		
		 oBt.onclick=function(){
		 	clearInterval(timer);
		 	oDaq.style.display='none';
		 }
	  }


			var wode = document.getElementById("wode");
			var wo = document.getElementById("wo");		
				wo.onmouseover=function(){
					wode.style.display = "block";
					wo.className="hi"
					wode.onmouseover=function(){
						wo.className="hi"
						this.style.display = "block";
					}
				}
				wo.onmouseout=function() {
					wode.style.display = "none";
					wo.className=""	
					wode.onmouseout=function(){
						this.style.display = "none";
						wo.className=""
					}
			     }

			var guanzhu = document.getElementById("guanzhu");
			var guan = document.getElementById("guan");		
				guan.onmouseover=function(){
					guanzhu.style.display = "block";
					guan.className="hi"
					guanzhu.onmouseover=function(){
						guan.className="hi"
						this.style.display = "block";
					}
				}
				guan.onmouseout=function() {
					guanzhu.style.display = "none";
					guan.className=""	
					guanzhu.onmouseout=function(){
						this.style.display = "none";
						guan.className=""
					}
			     }

			var kefu = document.getElementById("kefu");
			var ke = document.getElementById("ke");		
				ke.onmouseover=function(){
					kefu.style.display = "block";
					ke.className="hi"
					kefu.onmouseover=function(){
						ke.className="hi"
						this.style.display = "block";
					}
				}
				ke.onmouseout=function() {
					kefu.style.display = "none";
					ke.className=""	
					kefu.onmouseout=function(){
						this.style.display = "none";
						ke.className=""
					}
			     }

			var daohang = document.getElementById("daohang");
			var dao = document.getElementById("dao");		
				dao.onmouseover=function(){
					daohang.style.display = "block";
					dao.className="hi"
					daohang.onmouseover=function(){
						dao.className="hi"
						this.style.display = "block";
					}
				}
				dao.onmouseout=function() {
					daohang.style.display = "none";
					dao.className=""	
					daohang.onmouseout=function(){
						this.style.display = "none";
						dao.className=""
					}
			     }



			var ready = document.getElementById("ready");
			var readyy = document.getElementById("readyy");		
				readyy.onmouseover=function(){
					ready.style.display = "block";
					readyy.className="hi"
					ready.onmouseover=function(){
						readyy.className="hi"
						this.style.display = "block";
					}
				}
				readyy.onmouseout=function() {
					ready.style.display = "none";
					readyy.className=""	
					ready.onmouseout=function(){
						this.style.display = "none";
						readyy.className=""
					}
			     }


			var shopping = document.getElementById("shopping");
			var down = document.getElementById("shopping-down");		
				shopping.onclick=function(ev){
					var oEven=ev||event;
				  down.style.display = "block";
				  oEven.cancelBubble=true;
				
				}
				document.onclick=function(){
				  down.style.display = "none";
				}



		$(function() {
			var bannerSlider = new Slider($('#banner_tabs'), {
				time: 3000,
				delay: 400,
				event: 'hover',
				auto: true,
				mode: 'fade',
				controller: $('#bannerCtrl'),
				activeControllerCls: 'active'
			});
			$('#banner_tabs .flex-prev').click(function() {
				bannerSlider.prev()
			});
			$('#banner_tabs .flex-next').click(function() {
				bannerSlider.next()
			});
		})
</script>



    <div class="recom">
		<p class="tit">推荐院校<span>Recommended Universities</span></p>
		<a class="more" href="{% url 'university:university' %}">更多院校&nbsp></a>
    	<div class="wrap slideTxtBox">
	    	<div class="hd">
				<hr>
				<ul class="school-tit clearfix">
					<li class="on">美国院校</li>
					<li>英国院校</li>
					<li>加拿大院校</li>
					<li>澳洲院校</li>
					
				</ul>
	    	</div>
    		
			<div class="bd">
				<ul class="clearfix TTSliderPicList">
				{% for univer in univer_ame %}
					<li class="{% if forloop.counter|divisibleby:4 %}right{% endif %}"><a href="{% url 'university:univer-detail' univer.id %}"><img src="{{ MEDIA_URL }}{{ univer.image }}" alt=""></a></li>
					
				{% endfor %}
				</ul>
				<ul class="clearfix ht">
				{% for univer in univer_eng %}
					<li class="{% if forloop.counter|divisibleby:4 %}right{% endif %}"><a href="{% url 'university:univer-detail' univer.id %}"><img src="{{ MEDIA_URL }}{{ univer.image }}" alt=""></a></li>
				{% endfor %}
				</ul>
				<ul class="clearfix ht">
				{% for univer in univer_can %}
					<li class="{% if forloop.counter|divisibleby:4 %}right{% endif %}"><a href="{% url 'university:univer-detail' univer.id %}"><img src="{{ MEDIA_URL }}{{ univer.image }}" alt=""></a></li>
				{% endfor %}
				</ul>
				<ul class="clearfix ht">
				{% for univer in univer_aus %}
					<li class="{% if forloop.counter|divisibleby:4 %}right{% endif %}"><a href="{% url 'university:univer-detail' univer.id %}"><img src="{{ MEDIA_URL }}{{ univer.image }}" alt=""></a></li>
				{% endfor %}
				</ul>
				
			</div>
    	   
    	</div>
    	<script language="javascript"> 
		$('.hd li').click(function(){ 
		$(this).addClass("on").siblings().removeClass();
		  // 删除其他兄弟元素的样式
		       // $(this).addClass('selected'); 
		//removeClass就是删除当前其他类；只有当前对象有addClass("selected")；siblings()意思就是当前对象的同级元素，removeClass就是删除； 
		$(".bd > ul").hide().eq($('.hd li').index(this)).show(); 
		}); 
		</script> 
        <!-- <ul class="carousel wrap">
    	   	   <li class="car-left"><a href=""></a></li>
    	   	   <li class="car-right"><a href=""></a></li>
    	</ul> -->
	</div>
    <div class="process">
    	<div class="wrap">
    		<p class="tit">申请流程<span>Application Process</span>
    		</p>
    		<ul class="pro clearfix">
    			<li><a href=""><img src="{% static 'img/免费评估.png' %}" alt=""></a><p>免费评估</p></li>
    			<li><a href="{% url 'university:university' %}"><img src="{% static 'img/选择学校.png' %}" alt=""></a><p>选择学校</p></li>
    			<li><a href="{% url 'operation:upload' %}"><img src="{% static 'img/提交申请材料.png' %}" alt=""></a><p>提交申请材料</p></li>
    			<li><a href="{% url 'service:doc' %}"><img src="{% static 'img/文书和签证服务.png' %}" alt=""></a><p>文书和签证服务</p></li>
    			<li><a href=""><img src="{% static 'img/留学服务.png' %}" alt=""></a><p>行程准备</p></li>
    		</ul>
    		<h3>西燕留学评估系统，快速匹配，优选方案！</h3>
    		<h4>您的报告将通过西燕评估系统及专业顾问的全面评估，分析留学的优劣势，享受专业审核及海外院校管理，设计适合自身情况的最优留学方案。
    		</h4>
    		<div class="an-pinggu">
    			<a href="">马上评估</a>
    		</div>
    		<div class="pro-banner">
    			<div class="pro-banner-btn">
    				<a href="{% url 'user:highapply' %}">点击进入 ></a>
    			</div>
    		</div>
    		
    	</div>
    </div>
    <div class="successful">
    <a class="more1" href="{% url 'university:strategy-list' %}">更多案例&nbsp></a>
    	<div class="wrap">
    		<p class="tit">成功案例<span>Successful Cases</span>
    		</p>
    		<div id="img-sc" class="suc-stu">
    			<ul class="stu-img clearfix">
				{% for case in win_case_one %}
    				<li><a href=""><img width="280px;" height="320px;" src="{{ MEDIA_URL }}{{ case.image }}" alt=""></a>
					<span>
					<a style="color:white" href="{% url 'user:wincase' case.id %}">{{ case.name}}</a><br>{{ case.university }}<br>西燕教育让我实现了梦想！</span></li>
				{% endfor %}
    			</ul>
    			<ul class="stu-img clearfix">
				{% for case in win_case_two %}
    				<li><a href=""><img width="280px;" height="320px;" src="{{ MEDIA_URL }}{{ case.image }}" alt=""></a><span>{{ case.name}}<br>{{ case.university }}<br>西燕教育让我实现了梦想！</span></li>
				{% endfor %}
    			</ul>
    		</div>
    		 <ul class="carousel">
			    	<li id="Left_Photo" class="car-left"><a href="javascript:void(0)"></a></li>
			    	<li id="Right_Photo" class="car-right"><a href="javascript:void(0)"></a></li>
    			</ul>
    	</div>    
    </div>

    <!-- 轮播 -->
    <script type="text/javascript">
	 var scrollPhoto = new ScrollPicleft();
	 scrollPhoto.scrollContId = "img-sc"; // 内容容器ID""
	 scrollPhoto.arrLeftId = "Left_Photo";//左箭头ID
	 scrollPhoto.arrRightId = "Right_Photo"; //右箭头ID
	 scrollPhoto.frameWidth = 1200;//显示框宽度
	 scrollPhoto.pageWidth = 1200; //翻页宽度
	 scrollPhoto.speed = 10; //移动速度(单位毫秒，越小越快)
	 scrollPhoto.space = 100; //每次移动像素(单位px，越大越快)
	 scrollPhoto.autoPlay = false; //自动播放
	 scrollPhoto.autoPlayTime = 3; //自动播放间隔时间(秒)
	 scrollPhoto.initialize(); //初始化 
	</script>


	<!-- 鼠标移上显示 -->
  <script>
	$(function(){
		$('.stu-img li').hover(function(){
			$(this).children('span').stop(true,true).delay(100).animate({'top':0},300);
		},function(){
			$(this).children('span').stop(true,true).animate({'top':320},300);
		})
			
		})
  </script>
    <div class="information">
    	<div class="wrap clearfix ">
    		<p class="tit">留学资讯<span>Study Abroad Information</span>
    		</p>
    		<div class="wenda fl">
    			<p>留学问答<a href="">更多 ></a></p>
    			<ul class="wenda-list">
				{% for ask in ask_list %}
    				<li><span></span>{{ ask.user.username }} 问：{{ ask.problem }}<br>
					<a href="">{{ ask.teacher }} 答：{{ ask.answer }}</a></li>
    			{% endfor %}	
    			</ul>
    			<a class="btn" href="{% url 'user:myquestion' %}">我要提问</a>
    		</div>
    		<div class="zixun fr">
    			<p>留学资讯<a href="{% url 'university:strategy-list' %}">更多 ></a></p>
    			<!-- <ul class="zixun-con"> -->
    				<!-- <li class="clearfix"><img src="{% static 'img/Australia.png' %}" alt=""><p>	澳大利亚的地理历史和政治制度、教育体制、赴澳前的准备工作以及在澳的学习和生活等方面进行了介绍，尤其详细介绍了澳大利亚的各主要大学、大学开设的主要课程以及如何……</p></li> -->
    				<!-- <li class="clearfix"><img src="{% static 'img/Australia1.png' %}" alt=""><p>	澳大利亚的地理历史和政治制度、教育体制、赴eeee备工作以及在澳的学习和生活等方面进行了介程以及如何……</p></li> -->
    				<!-- <li class="clearfix"><img src="{% static 'img/Australia.png' %}" alt=""><p>	澳大利亚的地理历史和政治制度、教育体制、赴澳前的准66666666的学习和生活等方面进行了介绍，开设的主要课程以及如何……</p></li> -->
    			<!-- </ul> -->
    			<ul class="zixun-list">
				{% for info in infor_zx %}
    				<li class="cleafix nn"><a href="{% url 'university:article' info.id %}">{{ info.title }}</a><span>{{ info.add_time|date:'d/m/Y' }}</span></li>
    			{% endfor %}
    			</ul>
    <script language="javascript"> 
		$('.zixun-list li').click(function(){ 
		$(this).addClass("nn").siblings().removeClass();
		  // 删除其他兄弟元素的样式
		       // $(this).addClass('selected'); 
		//removeClass就是删除当前其他类；只有当前对象有addClass("selected")；siblings()意思就是当前对象的同级元素，removeClass就是删除； 
		$(".zixun-con > li").hide().eq($('.zixun-list li').index(this)).show(); 
		}); 
    </script> 
    		</div>
    		<div class="shenghuo fr">
    			<p>留学生活<a href="{% url 'university:strategy-list' %}">更多 ></a></p>
    			<video src="==" controls="controls">
    		</div>
    		<div class="dongtai fr">
    			<p>留学攻略<a href="{% url 'university:strategy-list' %}">更多 ></a></p>
    			<ul class="dongtai-list"> 
				{% for info in infor_gl %}
    				<li class="cleafix"><span></span>{{ info.title }}<a>{{ info.add_time|date:'d/m/Y' }}</li>
    			{% endfor %}	
    			</ul>
    		</div>
    	    
    	</div>
    </div>
{% endblock %}