<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>登录</title>
</head>
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/global.css' %}">
<link rel="stylesheet" href="{% static 'css/denglu.css' %}">
<script src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
<script src="{% static 'js/layer.js' %}"></script>


<body>
	<div class="header">
		<div class="wrap cleafix">
			<div class="logo fl">
				<img src="{% static 'img/logo-top.png' %}" alt="">
			</div>
			<h4 class="fl">欢迎登录</h4>
			

		</div>
	</div>
	<div class="zckuang-box">
	  <div class="zckuang">
	  	<ul class="clearfix bb">
			<li class="on">普通登录</li>
			<li>手机动态密码登录</li>
		</ul>
		<div class="form">
		   <ul class="bd">
		      <li class="shouji">
		      	<form action="{% url 'user:login' %}" method="post">
                {% csrf_token %}
				   <div class="">
                     <span class=""><img src="{% static 'img/dl-1.png' %}" alt=""></span>
                     <input class="" name="username" type="text"  placeholder="手机号/邮箱"/>
                    </div>
                    <div class="">
                     <span class=""><img src="{% static 'img/dl-2.png' %}" alt=""></span>
                     <input class="" name="password" type="password"  placeholder="密码"/>
                     </div>
                    
{#                     <div class="yz clearfix">#}
{#                     #}
{#                     <input class="" type="text" value="" placeholder="请输入图片验证码"/> #}
{#                     <div><img src="{% static 'img/yanzheng.png' %}" alt=""></div>#}
{#                     </div>#}
               
                    <!-- <div style="width: 418px;height: 40px;line-height:40px;text-align: center;margin-left: 18px;border-radius: 3px;
                     margin-bottom: 18px;font-size: 20px; background: pink; color: red">
                    	
                    </div> -->
                
                    <div class="now">
                    	<input type="submit" value="立即登录" >
                    </div>
			    </form>
		      </li>
		   	  <li class="youxiang">
		      	<form action="">
				{% csrf_token %}
				   <div class="">
                     <span class="yx"><img src="{% static 'img/dl-1.png' %}" alt=""></span>
                     <input class="" type="text" value="" placeholder="手机号"/>         
                    </div>
                     <div class="sjyz clearfix">
                     <span class=""><img src="{% static 'img/dl-2.png' %}" alt=""></span>
                     <input class="" type="text" value="" placeholder="请输入动态密码"/>  
                     <div><input type="submit" value="免费获取" ></div>   
                    </div>
                   
                     <div class="yz clearfix">
                     
                     <input class="" type="text" value="" placeholder="请输入图片验证码"/> 
                     <div><img src="{% static 'img/yanzheng.png' %}" alt=""></div>
                     </div>
                    
                    <div class="now">
                    	<input type="submit" value="立即登录" >
                    </div>
			    </form>
		      </li>
		   </ul>
		</div>
	  </div>
	  <script type="text/javascript">
	  	var username = $('input[name="username"]').val();
	  	var password = $('input[name="password"]').val();

	  	if (username == ''){
	  		layer.open({
              title: '西柚留学网提示'
              ,content: '手机号/邮箱为必填项！'
            });

	  	}

	  	if (password == ''){
	  		layer.open({
              title: '西柚留学网提示'
              ,content: '密码为必填项！'
            });
	  	}

	  
	  	
	  </script>
	  <script language="javascript"> 
		$('.bb li').click(function(){ 
		$(this).addClass("on").siblings().removeClass();
		  // 删除其他兄弟元素的样式
		       // $(this).addClass('selected'); 
		//removeClass就是删除当前其他类；只有当前对象有addClass("selected")；siblings()意思就是当前对象的同级元素，removeClass就是删除； 
		$(".bd > li").hide().eq($('.bb li').index(this)).show(); 
		}); 
		</script>
	</div>
	 
</body>
</html>