{% extends 'base.html' %}
{% block title %}留学攻略|西柚留学网{% endblock %}
{% block css %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/gongl.css' %}">
{% endblock %}
{% block js %}

{% endblock %}

{% block banner %}
    {% include 'banner.html' %}
{% endblock %}

{% block content %}
<script type="text/javascript">



			var wode = document.getElementById("wode");
			var wo = document.getElementById("wo");		
				wo.onmouseover=function(){
					wode.style.display = "block";
					wo.className="hi"
					wode.onmouseover=function(){
						wo.className="hi"
						this.style.display = "block";
					}
				}
				wo.onmouseout=function() {
					wode.style.display = "none";
					wo.className=""	
					wode.onmouseout=function(){
						this.style.display = "none";
						wo.className=""
					}
			     }

			var guanzhu = document.getElementById("guanzhu");
			var guan = document.getElementById("guan");		
				guan.onmouseover=function(){
					guanzhu.style.display = "block";
					guan.className="hi"
					guanzhu.onmouseover=function(){
						guan.className="hi"
						this.style.display = "block";
					}
				}
				guan.onmouseout=function() {
					guanzhu.style.display = "none";
					guan.className=""	
					guanzhu.onmouseout=function(){
						this.style.display = "none";
						guan.className=""
					}
			     }

			var kefu = document.getElementById("kefu");
			var ke = document.getElementById("ke");		
				ke.onmouseover=function(){
					kefu.style.display = "block";
					ke.className="hi"
					kefu.onmouseover=function(){
						ke.className="hi"
						this.style.display = "block";
					}
				}
				ke.onmouseout=function() {
					kefu.style.display = "none";
					ke.className=""	
					kefu.onmouseout=function(){
						this.style.display = "none";
						ke.className=""
					}
			     }

			var daohang = document.getElementById("daohang");
			var dao = document.getElementById("dao");		
				dao.onmouseover=function(){
					daohang.style.display = "block";
					dao.className="hi"
					daohang.onmouseover=function(){
						dao.className="hi"
						this.style.display = "block";
					}
				}
				dao.onmouseout=function() {
					daohang.style.display = "none";
					dao.className=""	
					daohang.onmouseout=function(){
						this.style.display = "none";
						dao.className=""
					}
			     }



			var ready = document.getElementById("ready");
			var readyy = document.getElementById("readyy");		
				readyy.onmouseover=function(){
					ready.style.display = "block";
					readyy.className="hi"
					ready.onmouseover=function(){
						readyy.className="hi"
						this.style.display = "block";
					}
				}
				readyy.onmouseout=function() {
					ready.style.display = "none";
					readyy.className=""	
					ready.onmouseout=function(){
						this.style.display = "none";
						readyy.className=""
					}
			     }


			var shopping = document.getElementById("shopping");
			var down = document.getElementById("shopping-down");		
				shopping.onclick=function(ev){
					var oEven=ev||event;
				  down.style.display = "block";
				  oEven.cancelBubble=true;
				
				}
				document.onclick=function(){
					down.style.display = "none";
				}



		$(function() {
			var bannerSlider = new Slider($('#banner_tabs'), {
				time: 3000,
				delay: 400,
				event: 'hover',
				auto: true,
				mode: 'fade',
				controller: $('#bannerCtrl'),
				activeControllerCls: 'active'
			});
			$('#banner_tabs .flex-prev').click(function() {
				bannerSlider.prev()
			});
			$('#banner_tabs .flex-next').click(function() {
				bannerSlider.next()
			});
		})
</script>


	<div class="wrap xiangqing clearfix">
	    
		<div class="fl left">
		     <span class="gj">国家：</span>
			<ul class="clearfix jack">
			    {% for country in all_country %}
				<a href="?country={{ country.id }}"><li {% ifequal country_id country.id|stringformat:'i' %}class="on" {% endifequal %}><img src="{{ MEDIA_URL }}{{ country.image }}" alt=""><span>{{ country.name }}</span></li></a>
				{% endfor %}
			</ul>
			<div class="gl">
				<div class="am clearfix">
					<h2>攻略留学</h2>
					<div class="lxgl fl"> 
					   <p>留学攻略<a href="{% url 'university:strategy-list' %}">更多></a></p>
						<div class="clearfix">
							<img src="{% static 'img/tu11.png' %}" alt="">
							<ul>
							{% for article in art_strategy %}
								<li><span></span><a href="{% url 'university:article' article.id %}">{{ article.title }}</a>   {{ article.add_time|date:"Y-m-d" }}</li>
							{% endfor %}
							</ul>
						</div>
					</div>
					<div class="lxlt fr"> 
					   <p>留学论坛<a href="{% url 'university:strategy-list' %}">更多></a></p>
						<div class="clearfix">
							<img src="{% static 'img/tu11.png' %}" alt="">
							<ul>
							{% for article in art_forum %}
								<li><span></span><a href="{% url 'university:article' article.id %}">{{ article.title }}</a>  {{ article.add_time|date:"Y-m-d" }}</li>
                            {% endfor %}
							</ul>
						</div>
					</div>
					<div class="lxzx fl"> 
					   <p>留学咨询<a href="{% url 'university:strategy-list' %}">更多></a></p>
						<div class="clearfix">
							<img src="{% static 'img/tu11.png' %}" alt="">
							<ul>
							{% for article in art_counsel %}
								<li><span></span><a href="{% url 'university:article' article.id %}">{{ article.title }}</a>  {{ article.add_time|date:"Y-m-d" }} </li>
							{% endfor %}
							</ul>
						</div>
					</div>
					<div class="lxwd fr"> 
					   <p>留学问答<a href="">更多></a></p>
						<div class="">
							
							<ul>
								<li><span></span>userlicy 问：初中没有毕业，可以留学吗？</li>
								<p>朱老师答：最好是有中国的高考成绩去申请法国……</p>
								<li><span></span>userlicy 问：初中没有毕业，可以留学吗？</li>
								<p>朱老师答：最好是有中国的高考成绩去申请法国……</p>
								<li><span></span>userlicy 问：初中没有毕业，可以留学吗？</li><p>朱老师答：最好是有中国的高考成绩去申请法国……</p>
								
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="anli">
				<h2>成功案例</h2>
				   <a href="">更多案例></a>
				<ul class="list clearfix">
				{% for case in win_case %}
				    <li><img width="255px;" height="195px;" src="{{ MEDIA_URL }}{{ case.image }}" alt="">
						<h4>{{ case.name }}</h4>
						<h5>拿到{{ case.university }}{{ case.get_education_apply_display }}offer</h5>
						<h6>西燕留学网，方便快捷的为我打开留学之旅！</h6>
				    </li>
				{% endfor %}

				</ul>
		    </div>	
	    </div>
		<div class="fr right">
			<div class="other">
				<h4>中国留学服务中心信息平台</h4>
				
	    		<ul>
	    			<li><a href=""><img src="{% static 'img/byrz.png' %}" alt=""></a></li>
	    			<li><a href=""><img src="{% static 'img/yxrz.png' %}" alt=""></a></li>
	    			<li><a href=""><img src="{% static 'img/jykh.png' %}" alt=""></a></li>
	    			<li><a href=""><img src="{% static 'img/lxda.png' %}" alt=""></a></li>
	    		</ul>	
			</div>
			<div class="tuijian">
				<h4>推荐院校</h4>
				<div class="sc-list cleafix">
	    			<div class="img-tu fl">
	    				<img src="{% static 'img/boshidun-logo.png' %}" alt="">
	    			</div>
	    			<div class="img-con fl">
	    					<p>波士顿学院</p>
	    					<p>Princeton University</p>
	    					<p>综合排名：38</p>
	    					<p>学历层次：硕士</p>
	    		   </div>
	    		</div>
	    		<div class="sc-list cleafix">
	    			<div class="img-tu fl">
	    				<img src="{% static 'img/boshidun-logo.png' %}" alt="">
	    			</div>
	    			<div class="img-con fl">
	    					<p>波士顿学院</p>
	    					<p>Princeton University</p>
	    					<p>综合排名：38</p>
	    					<p>学历层次：硕士</p>
	    		   </div>
	    		</div>
	    		<div class="sc-list cleafix">
	    			<div class="img-tu fl">
	    				<img src="{% static 'img/boshidun-logo.png' %}" alt="">
	    			</div>
	    			<div class="img-con fl">
	    					<p>波士顿学院</p>
	    					<p>Princeton University</p>
	    					<p>综合排名：38</p>
	    					<p>学历层次：硕士</p>
	    		   </div>
	    		</div>
	    		<div class="sc-list cleafix">
	    			<div class="img-tu fl">
	    				<img src="{% static 'img/boshidun-logo.png' %}" alt="">
	    			</div>
	    			<div class="img-con fl">
	    					<p>波士顿学院</p>
	    					<p>Princeton University</p>
	    					<p>综合排名：38</p>
	    					<p>学历层次：硕士</p>
	    		   </div>
	    		</div>
	    		<div class="sc-list cleafix">
	    			<div class="img-tu fl">
	    				<img src="{% static 'img/boshidun-logo.png' %}" alt="">
	    			</div>
	    			<div class="img-con fl">
	    					<p>波士顿学院</p>
	    					<p>Princeton University</p>
	    					<p>综合排名：38</p>
	    					<p>学历层次：硕士</p>
	    		   </div>
	    		</div>
	    		<div class="sc-list cleafix">
	    			<div class="img-tu fl">
	    				<img src="{% static 'img/boshidun-logo.png' %}" alt="">
	    			</div>
	    			<div class="img-con fl">
	    					<p>波士顿学院</p>
	    					<p>Princeton University</p>
	    					<p>综合排名：38</p>
	    					<p>学历层次：硕士</p>
	    		   </div>
	    		</div>
			</div>
		</div>

	</div>
{% endblock %}