{% extends 'base.html' %}
{% block title %}留学攻略|西柚留学网{% endblock %}
{% block css %}
{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'css/gongl.css' %}">
{% endblock %}
{% block js %}
	<script src="{% static 'js/common.js' %}"></script>
{% endblock %}

{% block banner %}
    {% include 'banner.html' %}
{% endblock %}

{% block content %}
	<div class="wrap xiangqing clearfix">
	    
		<div class="fl left">
		     <span class="gj">国家：</span>
			<ul class="clearfix jack">
			    {% for country in all_country %}
				<a href="?country={{ country.id }}"><li {% ifequal country_id country.id|stringformat:'i' %}class="on" {% endifequal %}><img src="{{ MEDIA_URL }}{{ country.image }}" alt=""><span>{{ country.name }}</span></li></a>
				{% endfor %}
			</ul>
			<div class="gl">
				<div class="am clearfix">
					<h2>攻略留学</h2>
					<div class="lxgl fl"> 
					   <p>留学攻略<a href="{% url 'university:strategy-list' %}">更多></a></p>
						<div class="clearfix">
							<img src="{% static 'img/tu11.png' %}" alt="">
							<ul>
							{% for article in art_strategy %}
								<li><span></span><a href="{% url 'university:article' article.id %}">{{ article.title }}</a>   {{ article.add_time|date:"Y-m-d" }}</li>
							{% endfor %}
							</ul>
						</div>
					</div>
					<div class="lxlt fr"> 
					   <p>留学论坛<a href="{% url 'university:strategy-list' %}">更多></a></p>
						<div class="clearfix">
							<img src="{% static 'img/tu11.png' %}" alt="">
							<ul>
							{% for article in art_forum %}
								<li><span></span><a href="{% url 'university:article' article.id %}">{{ article.title }}</a>  {{ article.add_time|date:"Y-m-d" }}</li>
                            {% endfor %}
							</ul>
						</div>
					</div>
					<div class="lxzx fl"> 
					   <p>留学咨询<a href="{% url 'university:strategy-list' %}">更多></a></p>
						<div class="clearfix">
							<img src="{% static 'img/tu11.png' %}" alt="">
							<ul>
							{% for article in art_counsel %}
								<li><span></span><a href="{% url 'university:article' article.id %}">{{ article.title }}</a>  {{ article.add_time|date:"Y-m-d" }} </li>
							{% endfor %}
							</ul>
						</div>
					</div>
					<div class="lxwd fr"> 
					   <p>留学问答<a href="">更多></a></p>
						<div class="">
							
							<ul>
							{% for ask in ask_list %}
								<li><span></span>{{ ask.user.username }} 问：{{ ask.problem }}</li>
								<p>{{ ask.teacher }}答：{{ ask.answer }}</p>
							{% endfor %}
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="anli">
				<h2>成功案例</h2>
				   <a href="">更多案例></a>
				<ul class="list clearfix">
				{% for case in win_case %}
				    <li>
					<img width="255px;" height="195px;" src="{{ MEDIA_URL }}{{ case.image }}" alt="">
						<h4>
							<!-- <a href="{% url 'user:wincase' case.id %}"> -->
							{{ case.name }}
							<!-- </a> -->
						</h4>
						<h5>拿到{{ case.university }}{{ case.get_education_apply_display }}offer</h5>
						<h6>西柚留学网，方便快捷的为我打开留学之旅！</h6>
				    </li>
				{% endfor %}

				</ul>
		    </div>	
	    </div>
		<div class="fr right">
			<div class="other">
				<h4>中国留学服务中心信息平台</h4>
				
	    		<ul>
	    			<li><a target="blank" href="http://www.cscse.edu.cn/publish/portal0/tab82/default.htm"><img src="{% static 'img/byrz.png' %}" alt=""></a></li>
	    			<li><a target="blank" href="http://www.cscse.edu.cn/publish/portal0/tab114/default.htm"><img src="{% static 'img/yxrz.png' %}" alt=""></a></li>
	    			<li><a target="blank" href="http://www.cscse.edu.cn/publish/portal0/tab89/default.htm"><img src="{% static 'img/jykh.png' %}" alt=""></a></li>
	    			<li><a target="blank" href="http://www.cscse.edu.cn/publish/portal0/tab92/default.htm"><img src="{% static 'img/lxda.png' %}" alt=""></a></li>
	    		</ul>	
			</div>
			<div class="tuijian">
				<h4>推荐院校</h4>
				
				
				{% for university in commend_list %}
				<div class="sc-list cleafix">
	    			<div class="img-tu fl">
	    				<img src="{% static 'img/boshidun-logo.png' %}" alt="">
	    			</div>
	    			<div class="img-con fl">
	    					<p>{{ university.name }}</p>
	    					<!-- <p>{{ university.english_name }}</p> -->
	    					<p>综合排名：{{ university.rank }}</p>
	    					<p>学历层次：{{ university.level }}</p>
	    		   </div>
	    		</div>
				{% endfor %}
	    	
	    	
	    	
	    	
			</div>
		</div>

	</div>
{% endblock %}