{% extends 'base.html' %}
{% block title %}文书服务|西柚留学网{% endblock %}
{% block css %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/gongl-1.css' %}">
<script src="{% static 'js/common.js' %}"></script>
{% endblock %}
{% block js %}

{% endblock %}

{% block banner %}
    {% include 'banner.html' %}
{% endblock %}

{% block content %}
	<div class="wrap xiangqing clearfix">
	    
		<div class="fl left">
			<ul class="clearfix jack">
				<a href="?type=gl"><li {% ifequal type 'gl' %}class="on"{% endifequal %}>留学攻略</li></a>
				<a href="?type=lt"><li {% ifequal type 'lt' %}class="on"{% endifequal %}>留学论坛</li></a>
				<a href="?type=zx"><li {% ifequal type 'zx' %}class="on"{% endifequal %}>留学资讯</li></a>
				<a href="?type=wd"><li>留学问答</li></a>
				<a href="?type=al"><li {% ifequal type 'al' %}class="on"{% endifequal %}>成功案例</li></a>
			</ul>
		
			<div class="gl">
			 
			   {% for article in all_article %}
				<div class="gl-list clearfix">
					<a href="{% url 'university:article' article.id %}"><img src="{% static 'img/gl-tu.png' %}" alt=""></a>
					{% ifequal type 'al' %}
					<div class="gl-list-con"> 
						<h6><a href="{% url 'user:wincase' article.id %}">{{ article.name }}{{ article.university }}{{ article.major_now}}{{ article.get_education_apply_display }}留学申请案例</a><span>{{ article.add_time|date:"Y/m/d" }}</span></h6>
					<p>{{ article.content }}……</p>
					</div>
					{% else %}
					<div class="gl-list-con"> 
						<h6><a href="{% url 'university:article' article.id %}">{{ article.title }}</a><span>{{ article.add_time|date:"Y/m/d" }}</span></h6>
					<p>{{ article.content }}……</p>
					</div>
					{% endifequal %}
				</div>
				{% endfor %}

		
				<div class="fy">
					<ul class="fenye clearfix">
	     			<li><a href="">上一页</a></li>
	     			<li><a href="" class="at">1</a></li>
	     			<li><a href="">2</a></li>
	     			<li><a href="">3</a></li>
	     			<li>...</li>
	     			<li><a href="">下一页</a></li>
     		    </ul>
				</div>

			</div>
			

			<!-- <div class="gl wd"> -->
			   
			   <!-- <div class="tw"> -->
			   	<!-- <img src="{% static 'img/tiwen.png' %}" alt=""><a href="gonglue-tw.html">我要提问</a> -->
			   <!-- </div> -->
			   <!-- <div class="gl-list clearfix"> -->
					
					<!-- <div class="gl-list-con">  -->
						<!-- <h6>学员userlicy <span>2016-08-10</span></h6> -->
						<!-- <p class="p1">初中没有毕业，可以留学吗？</p> -->
						<!-- <h5>朱老师</h5> -->
					    <!-- <p class="p2">这样的情况，可以现在国内继续提升自己的学历，然后再考虑留学问题。</p> -->
					<!-- </div> -->
				<!-- </div> -->
				<!-- <div class="gl-list clearfix"> -->
					
					<!-- <div class="gl-list-con">  -->
						<!-- <h6>学员userlicy <span>2016-08-10</span></h6> -->
						<!-- <p class="p1">初中没有毕业，可以留学吗？</p> -->
						<!-- <h5>朱老师</h5> -->
					    <!-- <p class="p2">这样的情况，可以现在国内继续提升自己的学历，然后再考虑留学问题。</p> -->
					<!-- </div> -->
				<!-- </div> -->
				<!-- <div class="gl-list clearfix"> -->
					
					<!-- <div class="gl-list-con">  -->
						<!-- <h6>学员userlicy <span>2016-08-10</span></h6> -->
						<!-- <p class="p1">初中没有毕业，可以留学吗？</p> -->
						<!-- <h5>朱老师</h5> -->
					    <!-- <p class="p2">这样的情况，可以现在国内继续提升自己的学历，然后再考虑留学问题。</p> -->
					<!-- </div> -->
				<!-- </div> -->
				<!-- <div class="gl-list clearfix"> -->
					
					<!-- <div class="gl-list-con">  -->
						<!-- <h6>学员userlicy <span>2016-08-10</span></h6> -->
						<!-- <p class="p1">初中没有毕业，可以留学吗？</p> -->
						<!-- <h5>朱老师</h5> -->
					    <!-- <p class="p2">这样的情况，可以现在国内继续提升自己的学历，然后再考虑留学问题。</p> -->
					<!-- </div> -->
				<!-- </div> -->
				<!-- <div class="gl-list clearfix"> -->
					
					<!-- <div class="gl-list-con">  -->
						<!-- <h6>学员userlicy <span>2016-08-10</span></h6> -->
						<!-- <p class="p1">初中没有毕业，可以留学吗？</p> -->
						<!-- <h5>朱老师</h5> -->
					    <!-- <p class="p2">这样的情况，可以现在国内继续提升自己的学历，然后再考虑留学问题。</p> -->
					<!-- </div> -->
				<!-- </div> -->
				<!-- <div class="gl-list clearfix"> -->
					
					<!-- <div class="gl-list-con">  -->
						<!-- <h6>学员userlicy <span>2016-08-10</span></h6> -->
						<!-- <p class="p1">初中没有毕业，可以留学吗？</p> -->
						<!-- <h5>朱老师</h5> -->
					    <!-- <p class="p2">这样的情况，可以现在国内继续提升自己的学历，然后再考虑留学问题。</p> -->
					<!-- </div> -->
				<!-- </div> -->
				<!-- <div class="gl-list clearfix"> -->
					
					<!-- <div class="gl-list-con">  -->
						<!-- <h6>学员userlicy <span>2016-08-10</span></h6> -->
						<!-- <p class="p1">初中没有毕业，可以留学吗？</p> -->
						<!-- <h5>朱老师</h5> -->
					    <!-- <p class="p2">这样的情况，可以现在国内继续提升自己的学历，然后再考虑留学问题。</p> -->
					<!-- </div> -->
				<!-- </div> -->


				
				
				<!-- <div class="fy"> -->
					<!-- <ul class="fenye clearfix"> -->
	     			<!-- <li><a href="">上一页</a></li> -->
	     			<!-- <li><a href="" class="at">1</a></li> -->
	     			<!-- <li><a href="">2</a></li> -->
	     			<!-- <li><a href="">3</a></li> -->
	     			<!-- <li>...</li> -->
	     			<!-- <li><a href="">下一页</a></li> -->
     		    <!-- </ul> -->
				<!-- </div> -->

			<!-- </div> -->
			<!-- <div class="gl al"> -->
			  
			   <!-- <div class="gl-list clearfix"> -->
					<!-- <img src="{% static 'img/anli-tu.png' %}" alt=""> -->
					<!-- <div class="gl-list-con">  -->
						<!-- <h6>美国杜克大学会计专业研究生留学申请案例<span>2016-08-10</span></h6> -->
					<!-- <p>如果您想去美国留学并且获得由美国大学提供的奖学金，那么 您最好遵循以下步骤，以节省时间并取得事半功倍的效果。一、选择专业。要综合考虑你本科所学的专业和今后工作的兴趣，选择一个适合你并且和你所学有较高相关性的专业。 二、参加考试。研究一下你所选的专业是要考GRE还是GMAT，有很多人因为过错了该专业的考试要求白白浪费了很多时间。然后制定考试计划，基础较好的同学可以采取先考GRE（GMAT）后考TOEFL的策略，因为GRE（GMAT）有效期为五年，而TOEFL 有效期仅为两年；一般情况下先考TOEFL为佳，便于词汇的按梯度增加……</p> -->
					<!-- </div> -->
				<!-- </div> -->
				<!-- <div class="gl-list clearfix"> -->
					<!-- <img src="{% static 'img/gl-tu.png' %}" alt=""> -->
					<!-- <div class="gl-list-con">  -->
						<!-- <h6>申请赴美国读研究生的六大步骤<span>2016-08-10</span></h6> -->
					<!-- <p>如果您想去美国留学并且获得由美国大学提供的奖学金，那么 您最好遵循以下步骤，以节省时间并取得事半功倍的效果。一、选择专业。要综合考虑你本科所学的专业和今后工作的兴趣，选择一个适合你并且和你所学有较高相关性的专业。 二、参加考试。研究一下你所选的专业是要考GRE还是GMAT，有很多人因为过错了该专业的考试要求白白浪费了很多时间。然后制定考试计划，基础较好的同学可以采取先考GRE（GMAT）后考TOEFL的策略，因为GRE（GMAT）有效期为五年，而TOEFL 有效期仅为两年；一般情况下先考TOEFL为佳，便于词汇的按梯度增加……</p> -->
					<!-- </div> -->
				<!-- </div> -->
				<!-- <div class="gl-list clearfix"> -->
					<!-- <img src="{% static 'img/gl-tu.png' %}" alt=""> -->
					<!-- <div class="gl-list-con">  -->
						<!-- <h6>申请赴美国读研究生的六大步骤<span>2016-08-10</span></h6> -->
					<!-- <p>如果您想去美国留学并且获得由美国大学提供的奖学金，那么 您最好遵循以下步骤，以节省时间并取得事半功倍的效果。一、选择专业。要综合考虑你本科所学的专业和今后工作的兴趣，选择一个适合你并且和你所学有较高相关性的专业。 二、参加考试。研究一下你所选的专业是要考GRE还是GMAT，有很多人因为过错了该专业的考试要求白白浪费了很多时间。然后制定考试计划，基础较好的同学可以采取先考GRE（GMAT）后考TOEFL的策略，因为GRE（GMAT）有效期为五年，而TOEFL 有效期仅为两年；一般情况下先考TOEFL为佳，便于词汇的按梯度增加……</p> -->
					<!-- </div> -->
				<!-- </div> -->
				<!-- <div class="gl-list clearfix"> -->
					<!-- <img src="{% static 'img/gl-tu.png' %}" alt=""> -->
					<!-- <div class="gl-list-con">  -->
						<!-- <h6>申请赴美国读研究生的六大步骤<span>2016-08-10</span></h6> -->
					<!-- <p>如果您想去美国留学并且获得由美国大学提供的奖学金，那么 您最好遵循以下步骤，以节省时间并取得事半功倍的效果。一、选择专业。要综合考虑你本科所学的专业和今后工作的兴趣，选择一个适合你并且和你所学有较高相关性的专业。 二、参加考试。研究一下你所选的专业是要考GRE还是GMAT，有很多人因为过错了该专业的考试要求白白浪费了很多时间。然后制定考试计划，基础较好的同学可以采取先考GRE（GMAT）后考TOEFL的策略，因为GRE（GMAT）有效期为五年，而TOEFL 有效期仅为两年；一般情况下先考TOEFL为佳，便于词汇的按梯度增加……</p> -->
					<!-- </div> -->
				<!-- </div> -->
				<!-- <div class="gl-list clearfix"> -->
					<!-- <img src="{% static 'img/gl-tu.png' %}" alt=""> -->
					<!-- <div class="gl-list-con">  -->
						<!-- <h6>申请赴美国读研究生的六大步骤<span>2016-08-10</span></h6> -->
					<!-- <p>如果您想去美国留学并且获得由美国大学提供的奖学金，那么 您最好遵循以下步骤，以节省时间并取得事半功倍的效 -->
					<!-- 果。一、选择专业。要综合考虑你本科所学的专业和今后工作的兴趣，选择一个适合你并且和你所学有较高相关性的专业。 二、参加考试。研究一下你所选的专业是要考GRE还是GMAT，有很多人因为过错了该专业的考试要求白白浪费了很多时间。然后制定考试计划，基础较好的同学可以采取先考GRE（GMAT）后考TOEFL的策略，因为GRE（GMAT）有效期为五年，而TOEFL 有效期仅为两年；一般情况下先考TOEFL为佳，便于词汇的按梯度增加……</p> -->
					<!-- </div> -->
				<!-- </div> -->
				<!-- <div class="gl-list clearfix"> -->
					<!-- <img src="{% static 'img/gl-tu.png' %}" alt=""> -->
					<!-- <div class="gl-list-con">  -->
						<!-- <h6>申请赴美国读研究生的六大步骤<span>2016-08-10</span></h6> -->
					<!-- <p>如果您想去美国留学并且获得由美国大学提供的奖学金，那么 您最好遵循以下步骤，以节省时间并取得事半功倍的效果。一、选择专业。要综合考虑你本科所学的专业和今后工作的兴趣，选择一个适合你并且和你所学有较高相关性的专业。 二、参加考试。研究一下你所选的专业是要考GRE还是GMAT，有很多人因为过错了该专业的考试要求白白浪费了很多时间。然后制定考试计划，基础较好的同学可以采取先考GRE（GMAT）后考TOEFL的策略，因为GRE（GMAT）有效期为五年，而TOEFL 有效期仅为两年；一般情况下先考TOEFL为佳，便于词汇的按梯度增加……</p> -->
					<!-- </div> -->
				<!-- </div> -->
				<!-- <div class="gl-list clearfix"> -->
					<!-- <img src="{% static 'img/gl-tu.png' %}" alt=""> -->
					<!-- <div class="gl-list-con">  -->
						<!-- <h6>申请赴美国读研究生的六大步骤<span>2016-08-10</span></h6> -->
					<!-- <p>如果您想去美国留学并且获得由美国大学提供的奖学金，那么 您最好遵循以下步骤，以节省时间并取得事半功倍的效果。一、选择专业。要综合考虑你本科所学的专业和今后工作的兴趣，选择一个适合你并且和你所学有较高相关性的专业。 二、参加考试。研究一下你所选的专业是要考GRE还是GMAT，有很多人因为过错了该专业的考试要求白白浪费了很多时间。然后制定考试计划，基础较好的同学可以采取先考GRE（GMAT）后考TOEFL的策略，因为GRE（GMAT）有效期为五年，而TOEFL 有效期仅为两年；一般情况下先考TOEFL为佳，便于词汇的按梯度增加……</p> -->
					<!-- </div> -->
				<!-- </div> -->
				<!-- <div class="gl-list clearfix"> -->
					<!-- <img src="{% static 'img/gl-tu.png' %}" alt=""> -->
					<!-- <div class="gl-list-con">  -->
						<!-- <h6>申请赴美国读研究生的六大步骤<span>2016-08-10</span></h6> -->
					<!-- <p>如果您想去美国留学并且获得由美国大学提供的奖学金，那么 您最好遵循以下步骤，以节省时间并取得事半功倍的效果。一、选择专业。要综合考虑你本科所学的专业和今后工作的兴趣，选择一个适合你并且和你所学有较高相关性的专业。 二、参加考试。研究一下你所选的专业是要考GRE还是GMAT，有很多人因为过错了该专业的考试要求白白浪费了很多时间。然后制定考试计划，基础较好的同学可以采取先考GRE（GMAT）后考TOEFL的策略，因为GRE（GMAT）有效期为五年，而TOEFL 有效期仅为两年；一般情况下先考TOEFL为佳，便于词汇的按梯度增加……</p> -->
					<!-- </div> -->
				<!-- </div> -->
				<!-- <div class="fy"> -->
					<!-- <ul class="fenye clearfix"> -->
	     			<!-- <li><a href="">上一页</a></li> -->
	     			<!-- <li><a href="" class="at">1</a></li> -->
	     			<!-- <li><a href="">2</a></li> -->
	     			<!-- <li><a href="">3</a></li> -->
	     			<!-- <li>...</li> -->
	     			<!-- <li><a href="">下一页</a></li> -->
     		    <!-- </ul> -->
				<!-- </div> -->

			<!-- </div> -->
	    </div>
		<div class="fr right">
			<div class="other">
				<h4>中国留学服务中心信息平台</h4>
				
	    		<ul>
	    			<li><a href=""><img src="{% static 'img/byrz.png' %}" alt=""></a></li>
	    			<li><a href=""><img src="{% static 'img/yxrz.png' %}" alt=""></a></li>
	    			<li><a href=""><img src="{% static 'img/jykh.png' %}" alt=""></a></li>
	    			<li><a href=""><img src="{% static 'img/lxda.png' %}" alt=""></a></li>
	    		</ul>	
			</div>
			<div class="tuijian">
				<h4>推荐院校</h4>
				<div class="sc-list cleafix">
	    			<div class="img-tu fl">
	    				<img src="{% static 'img/boshidun-logo.png' %}" alt="">
	    			</div>
	    			<div class="img-con fl">
	    					<p>波士顿学院</p>
	    					<p>Princeton University</p>
	    					<p>综合排名：38</p>
	    					<p>学历层次：硕士</p>
	    		   </div>
	    		</div>
	    		<div class="sc-list cleafix">
	    			<div class="img-tu fl">
	    				<img src="{% static 'img/boshidun-logo.png' %}" alt="">
	    			</div>
	    			<div class="img-con fl">
	    					<p>波士顿学院</p>
	    					<p>Princeton University</p>
	    					<p>综合排名：38</p>
	    					<p>学历层次：硕士</p>
	    		   </div>
	    		</div>
	    		<div class="sc-list cleafix">
	    			<div class="img-tu fl">
	    				<img src="{% static 'img/boshidun-logo.png' %}" alt="">
	    			</div>
	    			<div class="img-con fl">
	    					<p>波士顿学院</p>
	    					<p>Princeton University</p>
	    					<p>综合排名：38</p>
	    					<p>学历层次：硕士</p>
	    		   </div>
	    		</div>
	    		<div class="sc-list cleafix">
	    			<div class="img-tu fl">
	    				<img src="{% static 'img/boshidun-logo.png' %}" alt="">
	    			</div>
	    			<div class="img-con fl">
	    					<p>波士顿学院</p>
	    					<p>Princeton University</p>
	    					<p>综合排名：38</p>
	    					<p>学历层次：硕士</p>
	    		   </div>
	    		</div>
	    		<div class="sc-list cleafix">
	    			<div class="img-tu fl">
	    				<img src="{% static 'img/boshidun-logo.png' %}" alt="">
	    			</div>
	    			<div class="img-con fl">
	    					<p>波士顿学院</p>
	    					<p>Princeton University</p>
	    					<p>综合排名：38</p>
	    					<p>学历层次：硕士</p>
	    		   </div>
	    		</div>
	    		<div class="sc-list cleafix">
	    			<div class="img-tu fl">
	    				<img src="{% static 'img/boshidun-logo.png' %}" alt="">
	    			</div>
	    			<div class="img-con fl">
	    					<p>波士顿学院</p>
	    					<p>Princeton University</p>
	    					<p>综合排名：38</p>
	    					<p>学历层次：硕士</p>
	    		   </div>
	    		</div>
			</div>
		</div>

	</div>
{% endblock %}