{% extends 'usercenter-base.html' %}
{% block title %}我的申请|西柚留学网{% endblock %}
{% block css %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/wode-sq.css' %}">
{% endblock %}
{% block js %}

{% endblock %}

{% block content %}
	<div class="fr con">
	  
		 <h4>我的申请</h4> 
{#		 <div class="up">#}
{#			<ul class="clearfix">#}
{#				<li>申请号：<input type="text"></li>#}
{#				<li>商品名称：<input type="text"></li>#}
{#				<li>申请时间：<input type="text"></li>#}
{#				<li class="ss"><a href="">搜索</a></li>#}
{#			</ul>#}
{#		 </div>#}
		 <div class="list">
			<ul class="clearfix">  
				<li style="width: 180px;">用户</li>
				<li style="width: 300px;">申请大学</li>
				<li style="width: 230px;">申请专业</li>
{#				<li>意向专业</li>#}
				<li style="width: 150px;">操作</li>
			</ul>
		 </div>


        {% for apply in apply_list %}
		 <div class="time">
			 <ul class="clearfix"> 
				<li>申请时间：{{ apply.add_time }}</li>
				<li>申请号：{{ apply.add_time|date:'Ymdhms' }}</li>
			 </ul>
		 </div>
		 <div class="sp">
			<ul class="clearfix">  
				<li style="width: 180px;"><span>{{ apply.user.username }}</span></li>
				<li style="width: 300px;"><span>{{ apply.university }}</span></li>
{#				<li>{{ apply.type }}</li>#}
				<li style="width: 230px;">{{ apply.major }}</li>
				<li style="width: 150px;" class="fk">
{#                    <a href="wode-sqxq.html" class="sq">申请详情</a>#}
{#                    <a href="">删除</a>#}
				<button>删除</button>
                </li>
			</ul>
		 </div>
        {% endfor %}

	</div>
{% endblock %}
