<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>留学数据</title>
</head>
<link rel="stylesheet" href="css/global.css">
<link rel="stylesheet" href="css/public.css">
<link rel="stylesheet" href="css/slider1.css">
<link rel="stylesheet" href="css/qianzheng.css">
<script src="js/jquery-1.10.2.min.js"></script>
<script src="js/slider.js"></script>

<body>
	<div class="top-header">
		<div class="wrap clearfix">
			<p class="top-header-l">欢迎来到西燕留学网！咨询热线：<span>010-62514855</span></p>
			<ul class="top-header-r">
				<li class="deng">您好，请<a href="javascript:;">登录</a></li>
				<li class="deng">免费<a href="javascript:;">注册</a></li>
				<li id="wo"><a href="javascript:;">|&nbsp我的西燕</a></li>
				<li id="guan"><a href="javascript:;">|&nbsp关注西燕</a></li>
				<li id="ke"><a href="javascript:;">|&nbsp客户服务</a></li>
				<li id="dao"><a href="javascript:;">|&nbsp网站导航</a></li>
			</ul>
			<div id="wode" class="wode">
				<ul>
					<li><a href="javascript:;">我的订单</a></li>
					<li><a href="javascript:;">账号管理</a></li>				
					<li><a href="javascript:;">我的问答</a></li>
				</ul>
			</div>
			<div id="guanzhu" class="guanzhu">
				<img src="images/weitu.png" alt="">
			</div>
			<div id="kefu" class="kefu">
				<ul>
					<li><a href="javascript:;">联系我们</a></li>
					<li><a href="javascript:;">帮助中心</a></li>				
				</ul>
			</div>
			<div id="daohang" class="daohang clearfix">
				<ul class="school">
					<li><a href="javascript:;">美国院校</a></li>
					<li><a href="javascript:;">英国院校</a></li>
					<li><a href="javascript:;">加拿大院校</a></li>
					<li><a href="javascript:;">澳洲院校</a></li>
				</ul>
				<ul class="news">
					<li><a href="javascript:;">留学资讯</a></li>
					<li><a href="javascript:;">院校数据</a></li>
					<li><a href="javascript:;">院校排行</a></li>
				</ul>
				<ul class="server">
					<li><a href="javascript:;">特色服务</a></li>
					<li><a href="javascript:;">文书服务</a></li>
					<li><a href="javascript:;">签证服务</a></li>
					<li><a href="javascript:;">行程服务</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="search">
		<div class="wrap clearfix">
			<div class="logo-top">
				<img src="images/logo-top.png" alt="">
			</div>
			<div class="search-box clearfix">
				<input type="text" value="请输入院校名称"><img src="images/fangda.png" alt="">
				<button>搜索</button>
			</div>
			<div id="shopping" class="shopping clearfix">
				<img src="images/shopping-car.png" alt="">
				<p>我的购物车</p>
				<span>0</span>
				<img class="new" src="images/new.png" alt="">
			</div>
			<div id="shopping-down" class="shopping-down">
				<p>最近加入的产品：</p>
				<p class="chan clearfix"><img class="fl" src="images/alogo.png" alt=""><a href="javascript:;">美国威廉玛丽学院留学申请<br>
				¥：<span>36000</span>美元/年
				</a>
				</p>
				<div class="sh-foot">
					<ul class="clearfix">
						<li class="fl">共1件商品</li>
						<li class="fr"><a href="javascript:;">查看购物车</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="nav-bar">
		<div class="wrap">
			<ul class="clearfix">
				<li><a href="index.html">首页</a></li>
				<li><a href="shuju.html">院校数据</a></li>
				<li><a href="pinggu.html">留学评估</a></li>
				<li><a href="shengqing.html">高端申请</a></li>
				<li><a href="wenshu.html">文书服务</a></li>
				<li class="contion"><a   target="_self"  href="javascript:;">签证服务</a></li>
				<li id="readyy" class="readyy"><a href="xingcheng.html">行程准备<span><img src="images/jiantou.png" alt=""></span></a></li>
				<li><a href="gonglue.html">留学攻略</a></li>
			</ul>
			<div id="ready" class="ready">
				<ul>
					<li><a href="javascript:;">机票预订</a></li>
					<li><a href="javascript:;">接机服务</a></li>
					<li><a href="javascript:;">机票预订</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div id="banner_tabs" class="flexslider">
		<ul class="slides">
			<li>
				<a title="" target="_blank" href="#">
					<img width="1920" height="550" alt="" style="background: url(images/banner-shuju.png) no-repeat center;" src="images/alpha.png">
				</a>
			</li>
			<li>
				<a title="" href="#">
					<img width="1920" height="550" alt="" style="background: url(images/banner-shuju.png) no-repeat center;" src="images/alpha.png">
				</a>
			</li>
			<li>
				<a title="" href="#">
					<img width="1920" height="550" alt="" style="background: url(images/banner-shuju.png) no-repeat center;" src="images/alpha.png">
				</a>
			</li>
		</ul>
		<ul class="flex-direction-nav">
			<li><a class="flex-prev" href="javascript:;">Previous</a></li>
			<li><a class="flex-next" href="javascript:;">Next</a></li>
		</ul>
		<ol id="bannerCtrl" class="flex-control-nav flex-control-paging">
			<li><a>1</a></li>
			<li><a>2</a></li>
			<li><a>2</a></li>
		</ol>

       
        
    </div>
<script type="text/javascript">



			var wode = document.getElementById("wode");
			var wo = document.getElementById("wo");		
				wo.onmouseover=function(){
					wode.style.display = "block";
					wo.className="hi"
					wode.onmouseover=function(){
						wo.className="hi"
						this.style.display = "block";
					}
				}
				wo.onmouseout=function() {
					wode.style.display = "none";
					wo.className=""	
					wode.onmouseout=function(){
						this.style.display = "none";
						wo.className=""
					}
			     }

			var guanzhu = document.getElementById("guanzhu");
			var guan = document.getElementById("guan");		
				guan.onmouseover=function(){
					guanzhu.style.display = "block";
					guan.className="hi"
					guanzhu.onmouseover=function(){
						guan.className="hi"
						this.style.display = "block";
					}
				}
				guan.onmouseout=function() {
					guanzhu.style.display = "none";
					guan.className=""	
					guanzhu.onmouseout=function(){
						this.style.display = "none";
						guan.className=""
					}
			     }

			var kefu = document.getElementById("kefu");
			var ke = document.getElementById("ke");		
				ke.onmouseover=function(){
					kefu.style.display = "block";
					ke.className="hi"
					kefu.onmouseover=function(){
						ke.className="hi"
						this.style.display = "block";
					}
				}
				ke.onmouseout=function() {
					kefu.style.display = "none";
					ke.className=""	
					kefu.onmouseout=function(){
						this.style.display = "none";
						ke.className=""
					}
			     }

			var daohang = document.getElementById("daohang");
			var dao = document.getElementById("dao");		
				dao.onmouseover=function(){
					daohang.style.display = "block";
					dao.className="hi"
					daohang.onmouseover=function(){
						dao.className="hi"
						this.style.display = "block";
					}
				}
				dao.onmouseout=function() {
					daohang.style.display = "none";
					dao.className=""	
					daohang.onmouseout=function(){
						this.style.display = "none";
						dao.className=""
					}
			     }



			var ready = document.getElementById("ready");
			var readyy = document.getElementById("readyy");		
				readyy.onmouseover=function(){
					ready.style.display = "block";
					readyy.className="hi"
					ready.onmouseover=function(){
						readyy.className="hi"
						this.style.display = "block";
					}
				}
				readyy.onmouseout=function() {
					ready.style.display = "none";
					readyy.className=""	
					ready.onmouseout=function(){
						this.style.display = "none";
						readyy.className=""
					}
			     }


			var shopping = document.getElementById("shopping");
			var down = document.getElementById("shopping-down");		
				shopping.onclick=function(ev){
					var oEven=ev||event;
				  down.style.display = "block";
				  oEven.cancelBubble=true;
				
				}
				document.onclick=function(){
					down.style.display = "none";
				}



		$(function() {
			var bannerSlider = new Slider($('#banner_tabs'), {
				time: 3000,
				delay: 400,
				event: 'hover',
				auto: true,
				mode: 'fade',
				controller: $('#bannerCtrl'),
				activeControllerCls: 'active'
			});
			$('#banner_tabs .flex-prev').click(function() {
				bannerSlider.prev()
			});
			$('#banner_tabs .flex-next').click(function() {
				bannerSlider.next()
			});
		})
</script>

    <div class="search-box wrap">
         <h3>签证申请</h3>
    	<div class="searchbox">
    	 <dl class="country" >
	      <dt>签证类型：</dt>
	      <dd>
	       <label class="on" >
	        <a href="javascript:;">全部</a></label>
	       <label>
	        <a href="javascript:;">学生签证</a></label>
	       <label>
	        <a href="javascript:;">旅游签证</a></label>
	       <label>
	       <a href="javascript:;">1+2套餐</a></label>
	       <label>
	       <a href="javascript:;">保过套餐</a></label> 
	      </dd>
	     </dl>
    	</div>
    	<div class="sv same clearfix">
    		<div class="img fl">
    			<a href="javascript:;"><img src="images/sv.png" alt=""></a>
    		</div>
    		<div class="fl detail">
    		  <div class="top">
    		  	<h4>学生签证<span>Student Visa</span></h4>
    		  </div>
    		  <div class="bott">	
    		    <ul>
    		  		<li>价格：<span>¥500.00</span></li>
    		  		<li class="shc">市场价：<span>¥800.00</span></li>
    		  		
    		  	</ul>
    		  </div>
    		  
    		  <div class="bottom">
    		  	<ul class="ee">
    		  		<li>签证国家：<span class="onn">美国</span><span>英国</span><span>加拿大</span><span>澳洲</span></li>
    		  		<li>签证培训：<span class="onn">参加</span><span>不参加</span></li>
    		  		<li>是否陪签：<span class="onn">是</span><span>否</span></li>
    		  	</ul>
    		  	<div class="gg">数量：<a href="javascript:;">-</a><span>1</span><a href="javascript:;">+</a>
    		  	</div>
    		  	<ul class="ff clearfix">
    		  		<li class="car"><span><img src="images/shoppingcar-1.png"/></span>加入购物车</li>
    		  		<li class="now">立即购买</li>
    		  		<li class="down"><span><img src="images/down.png"/></span>个人信息表下载</li>
    		  	</ul>
    		  </div>
    		</div>
        </div>
        <div class="tv same clearfix">
    		<div class="img fl">
    			<a href="javascript:;"><img src="images/tv.png" alt=""></a>
    		</div>
    		<div class="fl detail">
    		  <div class="top">
    		  	<h4>旅游签证<span>Tourist Visa</span></h4>
    		  </div>
    		  <div class="bott">	
    		    <ul>
    		  		<li>价格：<span>¥500.00</span></li>
    		  		<li class="shc">市场价：<span>¥800.00</span></li>
    		  		
    		  	</ul>
    		  </div>
    		  
    		  <div class="bottom">
    		  	<ul class="ee">
    		  		<li>签证国家：<span class="onn">美国</span><span>英国</span><span>加拿大</span><span>澳洲</span></li>
    		  		<li>签证培训：<span class="onn">参加</span><span>不参加</span></li>
    		  		<li>是否陪签：<span class="onn">是</span><span>否</span></li>
    		  	</ul>
    		  	<div class="gg">数量：<a href="javascript:;">-</a><span>1</span><a href="javascript:;">+</a>
    		  	</div>
    		  	<ul class="ff clearfix">
    		  		<li class="car"><span><img src="images/shoppingcar-1.png"/></span>加入购物车</li>
    		  		<li class="now">立即购买</li>
    		  		<li class="down"><span><img src="images/down.png"/></span>个人信息表下载</li>
    		  	</ul>
    		  </div>
    		</div>
        </div>
        <div class="12 same clearfix">
    		<div class="img fl">
    			<a href="javascript:;"><img src="images/1+2.png" alt=""></a>
    		</div>
    		<div class="fl detail">
    		  <div class="top">
    		  	<h4>签证套餐<span>Visa Package</span><i>（1个学生证+两个旅游证）</i></h4>
    		  </div>
    		  <div class="bott">	
    		    <ul>
    		  		<li>价格：<span>¥500.00</span></li>
    		  		<li class="shc">市场价：<span>¥800.00</span></li>
    		  		
    		  	</ul>
    		  </div>
    		  
    		  <div class="bottom">
    		  	<ul class="ee">
    		  		<li>签证国家：<span class="onn">美国</span><span>英国</span><span>加拿大</span><span>澳洲</span></li>
    		  		<li>签证培训：<span class="onn">参加</span><span>不参加</span></li>
    		  		<li>是否陪签：<span class="onn">是</span><span>否</span></li>
    		  	</ul>
    		  	<div class="gg">数量：<a href="javascript:;">-</a><span>1</span><a href="javascript:;">+</a>
    		  	</div>
    		  	<ul class="ff clearfix">
    		  		<li class="car"><span><img src="images/shoppingcar-1.png"/></span>加入购物车</li>
    		  		<li class="now">立即购买</li>
    		  		<li class="down"><span><img src="images/down.png"/></span>个人信息表下载</li>
    		  	</ul>
    		  </div>
    		</div>
        </div>
        <div class="vip same clearfix">
    		<div class="img fl">
    			<a href="javascript:;"><img src="images/vip.png" alt=""></a>
    		</div>
    		<div class="fl detail">
    		  <div class="top">
    		  	<h4>VIP套餐<span>VIP Package</span><i>（材料+翻译+培训+约签+陪签）</i></h4>
    		  </div>
    		  <div class="bott">	
    		    <ul>
    		        <li>套餐内容：<i>此套餐包含材料、翻译、培训、约签、陪签，不含交第三方的公证、签证等费用、代刷卡手续费。客户拒签后我方<br>&nbsp&nbsp&nbsp&nbsp&nbsp免费提供二签服务（签证费等第三方费用需客户自理）。若客户选择终止我方服务，我方承诺退换三级全部费用。</i></li>
    		  		<li>价格：<span>¥500.00</span></li>
    		  		<li class="shc">市场价：<span>¥800.00</span></li>
    		  		
    		  	</ul>
    		  </div>
    		  
    		  <div class="bottom">
    		  	<ul class="ee">
    		  		<li>签证国家：<span class="onn">美国</span><span>英国</span><span>加拿大</span><span>澳洲</span></li>
    		  	</ul>
    		  	<div class="gg">数量：<a href="javascript:;">-</a><span>1</span><a href="javascript:;">+</a>
    		  	</div>
    		  	<ul class="ff clearfix">
    		  		<li class="car"><span><img src="images/shoppingcar-1.png"/></span>加入购物车</li>
    		  		<li class="now">立即购买</li>
    		  		<li class="down"><span><img src="images/down.png"/></span>个人信息表下载</li>
    		  	</ul>
    		  </div>
    		</div>
        </div>
    </div>
    <div class="fen">
    	<ul class="fenye clearfix">
     			<li><a href="javascript:;">上一页</a></li>
     			<li><a href="javascript:;" class="at">1</a></li>
     			<li><a href="javascript:;">下一页</a></li>
     	</ul>
    </div>
    <div class="foot">
    	<div class="wrap clearfix">
    		<div class="foot-logo fl"> 
    			<img src="images/logo-foot.png" alt="">
    		</div>
    		<div class="line fl">
    			<img src="images/line-foot.png" alt="">
    		</div>
    		<div class="foot-con fl">
    			<p>24小时服务热线：<span>010-62514855</span></p>
    			<ul class="fenxiang clearfix">
    			    <li>好友分享：</li>
    				<li><a href="javascript:;"><img src="images/weixin.png" alt=""></a></li>
    				<li><a href="javascript:;"><img src="images/weibo.png" alt=""></a></li>
    				<li><a href="javascript:;"><img src="images/douban.png" alt=""></a></li>
    				<li><a href="javascript:;"><img src="images/renren.png" alt=""></a></li>
    			</ul>
    		</div>
    	</div>
    	<div class="about">
    		   <ul class="clearfix">
    			<li><a href="about.html">关于我们</a></li>
    			<li><a href="javascript:;">友情链接</a></li>
    			<li><a href="javascript:;">意见反馈</a></li>
    			<li><a href="javascript:;">商务合作</a></li>
    			<li><a href="javascript:;">联系我们</a></li>
    		  </ul>	
    		  <p> Copyright © 2016 西燕留学 All rights reserved.</p>
    	</div>
    </div>

  </div>
  <script language="javascript"> 
		$('.country label').click(function(){ 
		$(this).addClass("on").siblings().removeClass();
		
		  // 删除其他兄弟元素的样式
		       // $(this).addClass('selected'); 
		//removeClass就是删除当前其他类；只有当前对象有addClass("selected")；siblings()意思就是当前对象的同级元素，removeClass就是删除； 
		// $(".bd > li").hide().eq($('.bb li').index(this)).show(); 
		});
		$('.ee span').click(function(){ 
		$(this).addClass("onn").siblings().removeClass();
	    }) 
  </script>
 
</body>
</html>