{% extends 'base.html' %}
{% block title %}签证服务|西柚留学网{% endblock %}
{% block css %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/qianzheng.css' %}">
<script src="{% static 'js/common.js' %}"></script>
{% endblock %}
{% block js %}

{% endblock %}

{% block banner %}
    {% include 'banner.html' %}
{% endblock %}
{% block content %}
    <div class="search-box wrap">
         <h3>签证申请</h3>
    	<div class="searchbox">
    	 <dl class="country" >
	      <dt>签证类型：</dt>
	      <dd>
	       <label {% ifequal type_id '' %}class="on"{% endifequal %} >
	        <a href="?type=">全部</a></label>

	        {% for type in all_types %}
	       <label {% ifequal type_id type.id|stringformat:'i' %}class="on"{% endifequal %}>
	        <a href="?type={{ type.id }}">{{ type.name }}</a></label>
			{% endfor %}
	      </dd>
	     </dl>
    	</div>
    	{% for visa in all_visas %}
    	<div class="sv same clearfix">
    		<div class="img fl">
    			<a href="javascript:;"><img src="{{ MEDIA_URL }}{{ visa.image }}" alt=""></a>
    		</div>
    		<div class="fl detail">
    		  <div class="top">
    		  	<h4>{{ visa.name }}<span>{{ visa.english_name }}</span></h4>
    		  </div>
    		  <div class="bott">	
    		    <ul>
    		  		<li>价格：<span>¥{{ visa.price }}</span></li>
    		  		<li class="shc">市场价：<span>¥{{ visa.price }}</span></li>
    		  		
    		  	</ul>
    		  </div>
    		  
    		  <div class="bottom">
    		  	<ul class="ee">
    		  		<li>
						签证国家：
						{% for country in all_country %}
						<span><input type="radio" name="country" value="{{ country.id }}">    {{ country.name }}</span>
						{% endfor %}
					</li>
    		  		<li>签证培训：
						<span><input type="radio" name="train" value="1">   参加</span>				
						<span><input type="radio" name="train" value="0">   不参加</span></li>
    		  		<li>是否陪签：
						<span><input type="radio" name="visa" value="1">是</span>
						<span><input type="radio" name="visa" value="0">否</span></li>
    		  	</ul>
    		  	<div class="gg">数量：<a href="javascript:;">-</a><span>1</span><a href="javascript:;">+</a>
    		  	</div>
    		  	<ul class="ff clearfix">
    		  		<li class="car"><span><img src="{%  static 'img/shoppingcar-1.png' %}"/></span>加入购物车</li>
    		  		<li class="now">立即购买</li>
    		  		<li class="down"><span><img src="{%  static 'img/down.png' %}"/></span>个人信息表下载</li>
    		  	</ul>
    		  </div>
    		</div>
        </div>
		{% endfor %}
        
    </div>
    <div class="fen">
    	<ul class="fenye clearfix">
     			<li><a href="javascript:;">上一页</a></li>
     			<li><a href="javascript:;" class="at">1</a></li>
     			<li><a href="javascript:;">下一页</a></li>
     	</ul>
    </div>
{% endblock %}
